.game-detail-introduce{
	width: 100%;
	background: #292e38;
	color: white;
}
.game-detail-header-list{
	width: 1080px;
	margin: 0 auto 0;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
}
.game-detail-header-list li:nth-child(1) a{
	display: block;
	color: white;
	width: 200px;
	height: 40px;
	background: #2e7fdd;
	margin-top: 30px;
	padding: 8px 20px 8px 16px
}
.game-detail-header-list li:nth-child(1) a i{
	display: inline-block;
	width: 24px;
	height: 24px;
}
.game-detail-header-list li:nth-child(1) a i img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.game-detail-header-list li:nth-child(1) a span{
	line-height: 24px;
}
.game-detail-header-list li:nth-child(1) a span:nth-child(2){
	margin-right: 50px;
	margin-left: 10px;
}
.game-detail-header-content{
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.game-detail-header-left{
	margin: 30px 0 24px;
	display: flex;
}
.game-detail-header-left span{
	margin-right: 20px;
	border: 4px solid #00d298;
}
.game-detail-header-left div h1{
	margin: 42px 0 10px;
	font-size: 24px;
	font-weight: normal;
}
.game-detail-title div p{
	font-size: 12px;
	color: #9c9c9c;
}
.game-detail-table-two .game-detail-title div p{
	font-size: 12px;
	color: white;
}
.game-detail-table-three {
	color: white;
}
.game-detail-table-three .game-detail-title div p{
	font-size: 12px;
	color: white;
}
.game-detail-header-left div ul{
	display: flex;
	margin-top: 10px;
}
.game-detail-header-left div ul li{
	margin-left: 10px;
	position: relative;
}
.game-detail-header-left div ul li img{
	border: 1px solid black;
}
.game-detail-title div ul li:nth-child(1){
	margin-left: 0;
}
.game-detail-title{
	display: none;
	width: 250px;
	padding: 10px;
	background: #15110d;
	border: 1px solid #271f15;
	position: absolute;
	z-index: 99;
	top: -230px;
	left: -120px;
}
.game-detail-title div b{
	color: #ffc659;
}
.game-detail-title div strong{
	color: #00cfbc;
}
.game-detail-title div div{
	margin-top: 20px;
}
.game-detail-title div i{
	display: block;
	color: #ffc659;
	font-style: normal;
	margin-top: 20px;
}
 .game-detail-title div i{
	display: inline-block;
	color: #ffc659;
	font-style: normal;
	margin-left: 4px;
	margin-top: 0;
}
.game-detail-table-two .game-detail-title div div:nth-child(2){
	margin-top: 6px;
}
.game-detail-header-right ul{
	display: flex;
	margin-top: 20px;
}
.game-detail-right-list li{
	width: 150px;
  margin-left: 4px;
  padding: 6px 0 5px;
  border-radius: 2px;
  border: solid 1px #979797;
  color: #9c9c9c;
  background: none;
  text-align: center;
}
.game-detail-right-list .game-detail-right-active{
	background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #28272c;
  font-weight: bold;
}
.game-detail-right-table{
	margin-top: 20px;
}
.game-detail-right-table table td img{
	width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 12px;
  border-radius: 16px;
}
.game-detail-right-table table td{
	text-align: center;
	height: 40px;
	font-size: 13px;
}
.game-detail-right-table table td:nth-of-type(1){
	text-align: left;
}
.game-detail-right-table table td:nth-of-type(3){
	color: #9c9c9c;
	font-size: 12px;
}
.game-detail-right-table table:nth-child(2){
	display: none;
}
.game-detail-nav{
	width: 100%;
	height: 50px;
	background: white;
	border-bottom: 1px solid #dcdcdc;
}
.game-detail-nav ul{
	display: flex;
	width: 1080px;
	margin: 0 auto;
}
.game-detail-nav ul li a{
	  display: block;
    border-bottom: 2px solid transparent;
    padding: 14px 20px 15px;
    line-height: 19px;
    font-size: 15px;
    color: #777;
    text-decoration: none;
}
.game-detail-nav .game-detail-nav-active a{
	  color: #3c8eec;
    border-bottom-color: #3c8eec;
    font-weight: bold;
}
.game-detail-content-table{
	width: 100%;
	margin-top: 20px;
}
.game-detail-conten-tableCommont{
	width: 1080px;
	margin: 0 auto;
	display: flex;
}
.game-detail-content-table article{
	width: 734px;
}
.game-detail-content-table article table{
		width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  background: #f5f5f5;
}
.game-detail-content-table article table thead{
	background: white;
}
.game-detail-content-table article table thead th{
	  height: 40px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777;
}
.game-detail-content-table article table h2{
	  line-height: 17px;
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
    text-align: left;
    color: #222;
}
.game-detail-content-table article table tbody tr{
	 border-top: 1px solid #e6e6e6
}
.game-detail-content-table article table tbody td {
	text-align: center;
}
.game-detail-content-table article table tbody td:nth-of-type(1){
	text-align: left;
	padding: 10px 0 10px 20px;
}
.game-detail-content-table article table tbody td ul{
	display: flex;
}
.game-detail-content-table article table tbody td ul li{
	margin-right: 20px;
	display: flex;
	position: relative;
	color: white;
}
.game-detail-content-table .game-detail-Builds td ul li{
	margin-right: 0;
}
.game-detail-Builds td ul li span{
	display: block;
	width: 10px;
	height: 100%;
	line-height: 40px !important;
	margin: 0 10px;
}
.game-detail-Builds table{
	border: 1px solid #e6e6e6;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
}
.game-detail-Builds table tr td{
    line-height: 14px;
    font-family: "Helvetica Neue",Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    letter-spacing: -0.5px;
    color: #4a4a4a;
}
.game-detail-Builds table tr:nth-child(1){
	background: #f9f9fa;
}
.game-detail-Builds table tr:nth-child(2) td{
	position: relative;
}
.game-detail-Builds table td img{
	width: 30px !important;
	height: 32px !important;
	vertical-align: middle;
}
.game-detail-Builds table td span{
	  position: absolute;
    right: 1px;
    bottom: 4px;
    width: 16px;
    height: 16px;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    line-height: 16px;
    font-size: 11px;
    letter-spacing: -0.4px;
    color: #fff;
}
.game-detail-Builds table td:nth-child(1){
	padding-left: 0 !important;
	text-align: center !important; 
}
.game-detail-content-table article table tbody td ul img{
	border: 1px solid #000;
  border-radius: 2px;
  display: block;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
}
.game-detail-content-table article table tbody td span{
	display: block;
  margin-top: 3px;
  line-height: 15px;
  font-family: "Helvetica Neue",Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
  font-size: 13px;
  color: #777
}
.game-detail-table-two{
	margin-top: 20px;
}
.game-detail-table-two tbody th{
	    background: #f9f9fa;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1.1px;
    text-align: center;
    color: #4a4a4a;
    vertical-align: middle;
}
.game-detail-table-three{
	margin-top: 20px;
}
.game-detail-table3-title{
	display: flex;
	padding: 11px 12px;
	float: left;
	border: solid 1px #e9eff4;
}
.game-detail-table3-titles{
	  margin: 10px auto 0;
    display: table;
    white-space: nowrap;
    background-color: #f9f9fa;
}
.game-detail-table3-title div{
	color: #777;
	font-size: 14px;
	margin-left: 8px;
}
.game-detail-table-three .game-detail-table3-title div b{
	font-weight: bold;
	color: black;
	margin-left: 10px;
}
.game-detail-table3-win{
	display: flex;
}
.game-detail-table3-img img{
	  display: inline-block;
    border-radius: 50%;
    vertical-align: bottom;
}
.game-detail-table3-img img:nth-child(2){
	  background: #000;
    margin-bottom: -1px;
    margin-left: -11px;
}
.game-detail-table3-img img:nth-child(3){
	margin-left: 10px;
}
.game-detail-table-three .game-detail-table3-title span{
	margin-top: 0;
	margin-left: 10px;
}
.game-detail-table-three .game-detail-table3-title span:nth-child(1){
	margin-left: 0;
}
.game-detail-table3-active{
	background: white;
}
.game-detail-table3-content{
	display: flex;
}
.game-detail-table3-imgList{
	  display: inline-block;
    vertical-align: bottom;
    width: 50%;
    max-width: 164px;
    box-sizing: border-box;
}
.game-detail-table3-imgList:nth-child(1){
	border-right: 1px solid #d2d2d2;
	padding: 0 6px;
}
.game-detail-bigImg {
	display: flex;
	justify-content: space-around;
}
.game-detail-bigImg img{
	width: 42px;
	height: 42px;
	background: #ddd;
	border-radius: 50%;
}
.game-detail-bigImg img:nth-child(2){
	margin: 0 10px;
}
.game-detail-bigImg .game-detail-bigImgActive{
	background: black;
}
.game-detail-smallImg {
	display: flex;
	justify-content: space-around;
	padding: 4px 0;
}
.game-detail-imgActive{
	display: inline-block;
	position: relative;
}
.game-detail-smallImg img{
	width: 32px;
	height: 32px;
}
.game-detail-smallImg img:nth-child(2){
	margin: 0 10px;
}
.game-detail-opcity{
	opacity: .5;
}
.game-detail-header-img {
	text-align: center;
}
.game-detail-header-img img{
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.game-detail-content-table aside{
	  margin-left: 8px;
    width: 336px;
}
.game-detail-aisde-header{
	display: flex;
	justify-content: space-between;
	height: 40px;
	padding: 10px 16px 0;
	font-size: 14px;
  color: #222;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.game-detail-box-content{
	  background-color: #f9f9fa;
    border: solid 1px #e6e6e6
}
.game-detail-box-content .game-detail-hightchart{
	width: 100%;
	height: 125px;
}
.highcharts-axis-labels text{
   transform: translate(0, 0);
}
.game-detail-hightchart{
	position: relative;
	border-bottom: 1px solid #e6e6e6

}
.game-detail-hightchart-title{
	display: inline-block;
  vertical-align: middle;
  line-height: 31px;
  font-size: 14px;
}
.game-detail-hightchart-header{
	padding: 20px 0;
	color: #d0021b;
	text-align: center;
}

.game-detail-hightchart-title b{
	  vertical-align: middle;
    font-size: 26px;
    margin-right: 4px;
    font-family: "Helvetica Neue",Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma
}
.game-detail-hightchart-title span{
	color: #777;
}
.game-detail-rate{
	display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 31px;
  font-size: 26px;
  font-weight: 300;
}
.game-detail-average{
	margin-top: 8px;
  line-height: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}
.game-detail-aside-boxs{
	margin-top: 10px;
}
.game-detail-aisde-table {
	border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.game-detail-aisde-table tbody{
	background: #f9f9fa;
}
.game-detail-aisde-table tbody tr{
	border-bottom: solid 1px #e9eff4;
}
.game-detail-aisde-table tbody tr th{
	width: 42px;
  height: 60px;
  vertical-align: middle;
  font-family: "Helvetica Neue",Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -1.2px;
  color: #8b8b8b;
}
.game-detail-aisde-table tbody tr a img{
	  width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 50%;
}
.game-detail-aisde-table tbody tr a span{
	vertical-align: middle;
  line-height: 15px;
  font-size: 12px;
  color: #222
}
.game-detail-aisde-table tbody tr td b{
	  display: inline-block;
    margin-right: 7px;
    color: #000;
    letter-spacing: normal;
}
.game-detail-tdTwo{
	padding-right: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    letter-spacing: -0.9px;
    text-align: right;
}
.game-detail-table2-leftContent{
	width: 535px !important;
}
.game-detail-table2-leftContent table{
	margin-top: 20px;
}
.game-detail-table2-leftContent table:nth-child(1){
	margin-top: 0;
}
.game-detail-shoes{
	display: flex;
}
.game-detail-shoesName{
	font-size: 14px !important;
  color: #666 !important;
  margin-top: 0 !important;
  line-height: 40px !important;
  margin-left: 10px;
}
.game-detail-content-table2 aside{
	width: 535px;
}
.game-detail-content-table2 aside table{
	    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background: #f5f5f5;
}
.game-detail-content-table2 aside table{
	background: white;
}
.game-detail-content-table2 aside table th{
	height: 40px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    vertical-align: middle;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #777
}
.game-detail-content-table2 aside table th h2{
	line-height: 17px;
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
    text-align: left;
    color: #222;
}
.game-detail-content-table2 aside table tbody td:nth-of-type(1) {
    text-align: left;
    padding: 10px 0 10px 20px;
}
.game-detail-content-table2 aside table tbody td span {
    display: block;
    margin-top: 3px;
    line-height: 15px;
    font-family: "Helvetica Neue",Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 13px;
    color: #777;
}
.game-detail-content-table2 table tbody tr td:nth-of-type(1){
	padding-left: 30px;
}
.game-detail-content-table3 aside{
	width: 228px !important;
}
.game-detail-skill-ImgList{
	display: flex;
}
.game-detail-skill-lists>li{
	 border-left: 8px solid #f9f9fa;
    padding: 13px 0 13px 22px;
    background-color: #f9f9fa;
    border-top: solid 1px #e9eff4;
    cursor: pointer
}
.game-detail-skill-ImgList li{
	position: relative;
	display: flex;
}
.game-detail-skill-ImgList li span{
	    position: absolute;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #fff;
    text-align: center;
    right: 20px;
    bottom: 2px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
	
}
.game-detail-skill-ImgList li:last-child span{
	right: 0;
}
.game-detail-skill-ImgList li b{
	display: inline-block;
	height: 100%;
	line-height: 42px;
	margin: 0 6px;
	color: #777;
}
.game-detail-skill-win{
	margin-top: 10px;
}
.game-detail-skill-win div b{
	display: table-cell;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #222
}
.game-detail-skill-win div:nth-child(2) b{
	font-weight: normal;
}
.game-detail-skill-win div span{
	    padding-top: 5px;
    display: table-cell;
    font-size: 12px;
}
.game-detail-skill-active{
	  border-left: 8px solid #3c8eec !important;
	  background: white !important;
}
.game-detail-skill-lists .game-detail-skill-last{
	  background: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    border-left: 8px solid white;
}
.game-detail-content-table3 aside{
	margin-left: 0 !important;
}
.game-detail-content-table3 article{
	margin-left: 10px !important;
	width: 840px;
}
.game-detail-content-table3 .game-detail-Builds table{
	width: 86%;
}
.game-detail-content-table3 .game-detail-Builds table td img{
	width: 32px !important;
	position: absolute;
	left: 0;
	top: 0;
}
.game-detail-content-table3 .game-detail-Builds table td span{
	right: 3px;
	font-size: 12px;
}
.game-detail-tableCommont article > table{
	border: 1px solid #e6e6e6;
}
.game-detail-tableCommont article > table tbody tr{
	border-top: none;
}
.game-detail-tableCommont article > table tbody tr:nth-child(2n){
	background: #f5f5f5;
}
.game-detail-tableCommont article > table tbody tr:nth-child(2n+1){
	background: #ebebed;
}
.game-detail-content-table2 aside > table{
	border: 1px solid #e6e6e6;
}
.game-detail-content-table2 aside > table tbody tr{
	border-top: none;
}
.game-detail-content-table2 aside > table tbody tr:nth-child(2n){
	background: #f5f5f5;
}
.game-detail-content-table2 aside > table tbody tr:nth-child(2n+1){
	background: #ebebed;
}
.game-detail-content-table4 aside{
	margin-left: 0 !important;
	width: 316px !important;
}
.game-detail-content-table4 article{
	margin-left: 10px !important;
	width: 750px;
}
.game-detail-content-table4 article table tbody th{
	    width: 104px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #4a4a4a;
}
.displayBlock{
	display: none;
}
