b,strong{
	font-weight: bold;
}
.game-doubleft section{
	width: 100%;
	margin-top: 20px;
}

.doubleft-introduce{
	padding-left: 30px;
	width: 1000px;
	margin: 0 auto;
}
.doubleft-introduce-header{
	margin-bottom: 20px;
	margin-left: 10px;
}
.doubleft-introduce-header li{
	  display: inline-block;
    padding: 3px 4px 2px 4px;
    margin-right: 3px;
    background: #e0e3e3;
    color: #657070;
    font-size: 11px;
    border: 1px solid #ced3d3;
    border-radius: 3px
}
.doubleft-introduce-content{
	display: flex;
}
.doubleft-introduce{
	position: relative;
}
.doubleft-introduce-img{
	position: relative;
}
.doubleft-introduce-bgBig{
	background: url(../img/challenger.png) no-repeat;
	  position: absolute;
    left: -10px;
    top: -10px;
    width: 120px;
    height: 120px;
    background-position: center bottom;
    background-repeat: no-repeat;;
}
.doubleft-introduce-img img{
	width: 100px;
	height: 100px;
}
.doubleft-introduce-bgsmall{
	position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -14px;
    margin-left: -22px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
    background: url(../img/bg-levelbox.png);
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}
.doubleft-introduce-detail{
	    position: relative;
    display: inline-block;
    height: 100px;
    margin: 0 25px 0 25px;
    vertical-align: top;
    line-height: 1.1;
}
.doubleft-introduce-detail-content{
	    color: #242929;
    font-size: 12px;
    margin-bottom: 3px;
}
.doubleft-introduce-detail-content span{
	color: #879292;
}
.doubleft-introduce-detail b{
	color: #242929;
  font-size: 20px;
  margin-right: 4px;
  vertical-align: middle;
}
.doubleft-introduce-detail .Collection{
	    margin-left: 4px;
    vertical-align: 1px;
    text-decoration: none;
    color: #777;
    display: inline-block;
    border: 1px solid #c6cbcb;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 10px;
}
.doubleft-introduce-detail p{
	color: #555e5e;
    font-size: 11px;
    text-decoration: none;
    line-height: 1.5;
}
.doubleft-introduce-detail p span{
	    color: #059ede;
    font-weight: bold;
}
.doubleft-introduce-button{
	display: flex;
}
.doubleft-introduce-button li{
	margin: 0 6px 6px 0;
	  padding: 11px 14px 10px;
    border-radius: 2px;
    border: none;
    background: none;
    font-size: 14px;
}
.doubleft-introduce-button .button1{
	    border: 1px solid #1a78ae;
    background: #1f8ecd;
    color: #f2f2f2;
}
.doubleft-introduce-button .button2{
	  border: 1px solid #227a55;
    background: #2ca170;
    color: #f2f2f2;
}
.doubleft-introduce-button .button3{
	  border: 1px solid #ccd1d1;
    background: #f2f2f2;
    color: #242929;

}
.doubleft-introduce-time{
	  position: absolute;
    left: 160px;
    bottom: -18px;
    height: 12px;
    color: #99a2a2;
    font-size: 11px;
}
.doubleft-introduce-nav{
	  border-bottom: 1px solid #c6cbcb;
    margin-top: 25px;
    margin-bottom: 20px;
}
.doubleft-introduce-navList{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	display: flex;
}
.doubleft-introduce-navList li{
	margin-left: -1px;
}
.doubleft-introduce-navList li a{
	display: block;
    min-width: 70px;
    height: 41px;
    border: 1px solid #c6cbcb;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #f2f2f2;
    color: #555e5e;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}
.doubleft-introduce-navList li:last-child{
	    margin-left: 15px !important;
}
.doubleft-introduce-navList li:last-child a{
	        padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    color: #1a78ae
}
.doubleft-introduce-navList  .navList-active a{
	  border-bottom: 1px solid #e8eaea;
    background: #e8eaea;
    color: #141717;
}
.doubleft-introduce-navList li a:hover{
	 background: #e8eaea;
}
.doubleft-introduces{
	width: 1000px;
	margin: 0 auto;
}
.doubleft-introduces>div{
	display: none;
}
.doubleft-introduce-dataContent{
	display: flex;
}
.doubleft-introduce-dataContent aside{
	width: 300px;
}
.doubleft-introduce-dataContent article{
	width: 690px;
	margin-left: 10px;
}
.dataContent-TierBox{
	  border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: white;
    border-radius: 2px;
    margin-top: 10px;
}
.dataContent-slideBox{
	    display: table;
    width: 100%;
    color: #879292;
    position: relative;
}
.RowTable{
	  display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}
.dataContent-slideBox-img{
	    display: table-cell;
    vertical-align: middle;
    width: 135px;
    height: 116px;
    text-align: center;
}
.dataContent-slideBox-img img{
	    width: 120px;
    height: 120px;
    margin: -5px 0 -10px 0;
}
.dataContent-slideBox-content p{
	    color: #1f8ecd;
    font-size: 13px;
}
.dataContent-detail b{
	color: #555e5e;
}
.dataContent-detail div span{
	margin-right: 6px;
}
.dataContent-table{
	display: table;
    width: 100%;
    border-top: 1px solid #cdd2d2;
    color: #879292;
    table-layout: fixed;
}
.dataContent-table div:nth-child(1){
	    display: table-cell;
    width: 55px;
    height: 62px;
    vertical-align: middle;
    padding-left: 10px;
}
.dataContent-table div:nth-child(1) img{
	    width: 50px;
    height: 50px;
    margin: -5px 0 -10px 0;
}
.dataContent-table div:nth-child(2){
	  display: table-cell;
    width: 65px;
    color: #555e5e;
    font-size: 11px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}
.dataContent-table div:nth-child(3){
	    display: table-cell;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.idol-introduce{
	display: flex;
	position: relative;
}
.idol-introduce-content{
	    position: relative;
    padding: 13px 0 8px 13px;
    color: #1e2632;
    line-height: 14px;
    font-size: 12px;
}
.idol-content{
	display: flex;
	color: #1e2632;
}
.idol-img{
    position: relative;
    width: 50px;
    height: 50px;
    background: #cecece;
    box-shadow: inset 1px 1px 1px 0 #c0c0c0;
    margin-right: 10px
}
.idol-img img{
	position: absolute;
    left: 0;
    width: 100%;
}
.idol-name a{
	    line-height: 29px;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.idol-rank{
	    margin-top: 6px;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
}
#hightcharts5{
	-webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  
}
.doubleft-introduce-footer{
	border-top: 1px solid #cdd2d2;
    padding: 8px 13px;
    background: #fff;
}
.doubleft-introduce-footer span{
	    line-height: 14px;
    font-size: 12px;
    color: #5d6571;
    vertical-align: middle;
}
.doubleft-introduce-footer img{
	height: 12px;
    vertical-align: middle;
    margin-left: 8px;
}
.heroTable-list{
	 background: white;
}
.heroList{
	  display: table;
    width: 100%;
    table-layout: fixed;
}
.heroList li{
	  display: table-cell;
    border-left: 1px solid #cdd2d2;
    border-bottom: 1px solid #cdd2d2;
    background-color: #fafbfd;
    vertical-align: middle;
    cursor: pointer;
    color: #879292;
    text-align: center;
}
.heroList li a{
	    display: block;
    color: inherit;
    padding-top: 7px;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 6px;
    text-decoration: none;
    box-sizing: border-box;
}
.heroList li a:hover{
	color: #879292;
}
.heroList .heroList-active{
	    border-bottom-color: #ededed;
    background-color: #ededed;
    color: #555e5e;
    font-weight: bold;
}
.heroTable{
	  display: none;
}
.hero-row{
	display: table;
    width: 100%;
    border-bottom: 1px solid #cdd2d2;
    color: #879292;
    text-align: center;
}
.hero-cell{
	  display: table-cell;
    vertical-align: middle;
}
.cell-img{
    width: 60px;
    padding: 5px 0 0 0;
    text-align: right;
}
.cell-name{
    width: 85px;
    text-align: left;
    padding-left: 10px;
    box-sizing: content-box;
}
.cell-rat{
    line-height: 1.8;
}
.cell-number{
    width: 70px;
    line-height: 1.8;
}
.hero-cell-title a{
	    width: 70px;
    color: #555e5e;
    font-weight: bold;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hero-cell-KDA{
	    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}
.hero-cell-KDA span{
	    color: #e19205;	
}
.hero-cell-rate{
	    color: #c6443e;
	    font-weight: bold;
}
.row-footer a{
	    display: block;
    text-decoration: none;
    padding: 11px 0 10px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #555e5e;
}
.row-footer a:hover{
	text-decoration: underline;
}
.win-rate{
	    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #cdd2d2;
    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #fafbfd;
}
.win-rate-row{
	    display: table;
    width: 100%;
    border-bottom: 1px solid #cdd2d2;
    background: white;
    color: #879292;
    text-align: center;
    font-size: 12px;
    table-layout: fixed;
}
.win-cell{
	display: table-cell;
	vertical-align: middle;
}
.win-img{
	  width: 44px;
    padding: 5px 0 0 0;
    text-align: right;
}
.win-img a{
	display: inline-block;
	background: url(../img/champion32.png) 0 0 no-repeat;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.win-name{
	    width: 61px;
    text-align: left;
}
.win-name a{
	    width: 100%;
    margin-left: 10px;
    color: #555e5e;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}
.win-rat{
	width: 40px;
}
.win-pro{
	    height: 40px;
    padding-left: 6px;
    padding-right: 12px;
}

table{
	width: 100%;
    table-layout: fixed;
        border-collapse: collapse;
    border-spacing: 0;
}
.play-table thead th{
	    padding-top: 11px;
    padding-bottom: 10px;
    background-color: #ededed;
    color: #879292;
    font-weight: normal;
    font-size: 12px;
    word-break: break-word;
}
.play-table thead th:nth-child(1){
	text-align: left;
    padding-left: 15px;
}
.play-table tbody td{
	   padding-top: 11px;
    padding-bottom: 10px;
    color: #879292;
    font-size: 11px;
    text-align: center;
}
.play-table tbody td:nth-child(1){
	text-align: left;
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.play-table tbody td:nth-child(1) a{
	    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.play-table tbody td:last-child{
	color: #676f89;
}
.play-table tbody tr:nth-child(2n) td{
	background-color: #e0e3e3;
}
.match-header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #cdd2d2;
	background: #fafbfd;
}
.match-header-list{
	display: flex;
	padding-left: 10px;
}
.match-header-list li{
	display: inline-block;
    height: 32px;
    margin: 0 10px;
    vertical-align: top;
}
.match-header-list li a{
	    display: inline-block;
    color: #555e5e;
    font-size: 12px;
    line-height: 36px;
    text-decoration: none;
}
.match-header-active{
   border-bottom: 2px solid #1f8ecd;
}
.match-header-list .match-header-active a{
	    color: #1f8ecd;
    font-weight: bold;
}
.match-seclect{
	  display: inline-block;
    border: none;
    height: 30px;
    line-height: 36px;
    cursor: pointer;
}
.match-seclect select{
	  position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    cursor: pointer;
    font-size: 14px;
    background: #fafbfd;
    border: 0;
}
.select-content{
	    position: relative;
    height: 34px;
    border-left: 1px solid #cdd2d2;
}
.select{
	  position: relative;
    width: 114px;
    height: 17px;
    padding: 8px 30px 9px 9px;
    background-color: #fafbfd;
    box-sizing: content-box;
}
.select input{
	     display: block;
    width: 100%;
    color: #999;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: #fafbfd;
}
.select-img{
	    position: absolute;
    top: 10px;
    right: 10px;
}
.select-img i{
	display: block;
	background: url(../img/site.png) no-repeat;
	    background-position: -190px -6329px;
    width: 15px;
    height: 15px;
    
}
.select-lists{
	  position: absolute;
    right: -1px;
    top: 35px;
    width: 303px;
    height: 332px;
    margin-top: -1px;
    z-index: 100;
}
.select-list{
	  display: table;
    width: 100%;
    height: 100%;
    font-size: 0;
    table-layout: fixed;
}
.select-list .select-cell{
	   display: table-cell;
    width: 140px;
    padding-bottom: 10px;
    border-left: 1px solid #cdd2d2;
    border-right: 1px solid #cdd2d2;
    border-bottom: 1px solid #cdd2d2;
    vertical-align: top;
}
.select-cell:nth-child(1){
	background: white;
	border-top: 1px solid #cdd2d2;
}
.select-cell:nth-child(2){
	background: #fafbfd;
}
.select-list-title{
	      height: 13px;
    margin: 12px;
    padding-bottom: 9px;
    color: #aaa;
    font-size: 11px;
    border-bottom: 1px solid #cdd2d2;
    box-sizing: content-box;
}
.select-list-content{
	height: 332px;
	overflow-y: auto;
}
.select-list-content li{
	height: 21px;
}
.select-list-content li a{
	    display: block;
    padding: 3px 12px;
    max-width: 130px;
    font-size: 13px;
    color: #879292;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.match-table-title{
	padding: 16px 0 14px 20px;
    line-height: 14px;
    font-size: 12px;
    color: #666;
    height: 14px;
    border-left: 1px solid #cdd2d2;
}
.match-table-list{
	    font-size: 0;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.match-table-list li{
	display: flex;
	margin-bottom: 10px;
}
.match-table-content{
	    width: 229px;
    border-left: 1px solid #cdd2d2;
}
.match-table-img{
	    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}
.match-table-img img {
	    display: block;
    width: 100%;
    height: 100%;
}
.match-table-name{
	margin-left: 10px;
}
.match-table-name p:nth-child(1){
	margin-bottom: 2px;
    line-height: 16px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.match-table-name p:nth-child(2){
    font-size: 11px;
    line-height: 12px;
    color: #333;
}
.match-table-kda {
	 font-size: 11px;
    line-height: 12px;
    color: #2daf7f;
    line-height: 30px;
    margin-left: 10px;
}
.match-row-rate{
	    color: #879292;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    text-align: center;
}
.match-row-rate span{
	color: #555e5e;
}
.match-row-rate b{
	color: #c6443e;
}
.match-row-rate:nth-child(2){
	    font-size: 16px;
    line-height: 19px;
    margin-top: 7px;
    font-weight: normal; 
}
.match-row-rate:nth-child(2) b{
	font-weight: normal;
}
.match-row-img{
	background: url(../img/site.png);
	  background-position: -177px -3991px;
    width: 28px;
    height: 28px;
}
.match-row-list{
	    padding: 0 16px 0 12px;
    font-size: 0;
}
.match-row-list li{
	display: flex;
}
.match-row-list li:nth-child(2){
	margin-top: 20px;
}
.match-row-content{
	    vertical-align: middle;
    padding-bottom: 1px;
    margin-left: 4px;
}
.match-row-content p{
	     line-height: 16px;
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
}
.match-row-content b{
	    line-height: 12px;
    font-size: 11px;
    color: #1f8ecd;
}
.match-row-content span{
	    line-height: 12px;
    font-size: 11px;
    color: #666;
    margin-left: 10px;
}
.match-row-content span b{
	color: #333;
	margin-left: 6;
}
.doubleft-content{
	    margin-top: 8px;
}
.doubleft-row{
    position: relative;
    border-radius: 3px;
    margin-bottom: 8px;
}
.double-loading{
	width: 100%;
	height: 200px;
	display: none;
}
.double-loading i{
	    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 40px;
animation: myfirst 3s infinite;
-moz-animation: myfirst 3s infinite;	
-webkit-animation: myfirst 3s infinite;
transform-origin: center;
text-align: center;
line-height: 50px;
opacity: .6;
}
@-moz-keyframes myfirst{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@-webkit-keyframes myfirst{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@keyframes myfirst{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
.doubleft-row-content{
	    display: table;
    width: 689px;
    border-collapse: collapse;
    border: 1px solid #cdd2d2;
}
.win-row-content{
	    background-color: #a3cfec;
    border-color: #99b9cf;
}
.lose-row-content{
	      background-color: #e2b6b3;
    border-color: #cea7a7;
}
.doubleft-row-content>div{
	    display: table-cell;
    height: 96px;
    vertical-align: middle
}
.GameStats{
	 width: 70px;
    text-align: center;
    font-size: 11px;
    color: #555;
    line-height: 16px;
}
.GameStats .GameType{
	     font-weight: bold;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Bar{
	    display: block;
    width: 27px;
    margin: 5px auto;
    height: 2px;
}
.GameResult{
	color: #1a78ae;
	font-weight: bold;
}
.GameSettingInfo{
	    width: 100px;
    font-size: 0;
}
.GameSettingInfo .ChampionImage{
	    display: inline-block;
    width: 46px;
    height: 46px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
}
.GameSettingInfo .ChampionImage .Image{
	    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}
.SummonerSpell{
	    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.Spell{
	    display: block;
    width: 22px;
    height: 22px;
    margin-top: 2px;
    border-radius: 3px;
    overflow: hidden;
}
.Spell .Image{
	    display: block;
    width: 100%;
    height: 100%;
}
.Runes{
	    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.Rune{
	    width: 22px;
    height: 22px;
    margin-top: 2px;
}
.Rune:nth-child(1){
	margin-top: 0;
}
.ChampionName{
	    margin-top: 8px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ChampionName a{
	 color: #555;
}
.game-KDA{
	    width: 90px;
    font-size: 11px;
    text-align: center;
}
.KDA{
	    color: #879292;
    font-size: 15px;
    white-space: nowrap;
}
.KDA span{
	color: #555e5e;
	font-weight: bold;
}
.KDA .Death{
	    color: #c6443e;
}
.KDARatio{
	    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}
.KDARatio span{
	    color: #353a3a;
}
.MultiKill{
	    margin-top: 8px;
    font-size: 10px;
}
.MultiKill .Kill{
	    display: inline-block;
    background: #ee5a52;
    border: 1px solid #c6443e;
    border-radius: 15px;
    padding: 2px 8px;
    color: #f2f2f2;
}
.Stats{
	    width: 110px;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    color: #555e5e
}
.CKRate{
	    color: #c6443e;
}
.MMR b{
	    color: #353a3a;
}
.ItemList{
	    width: 100px;
    margin: 0 auto;
    display: flex;
}
.ItemList .Item{
	    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    margin-top: 2px;
    overflow: hidden;
        background-color: #99b9cf;
}
.Item .Image{
	width: 100%;
	height: 100%;
}
.ItemList .Button{
	    margin-top: 2px;
    border: none;
    padding: 0;
    background: none;
    width: 22px;
    height: 22px;
}
.ItemList .Button img{
	width: 100%;
}
.Trinket{
	    margin-top: 7px;
    color: #353a3a;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
}
.FollowPlayers{
	    width: 180px;
    font-size: 0;
    display: flex !important;
    justify-content: space-between;
    flex-flow: row wrap;
}
.FollowPlayers .Team{
	    float: left;
    width: 50%;
}
.FollowPlayers .Summoner {
	    display: block;
    width: 80px;
    height: 18px;
    margin-left: 3px;
    text-align: left;
    white-space: nowrap;
}
.Summoner .ChampionImage{
	    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.Summoner .ChampionImage .__spc16{
	background: url(../img/champion16.png);
		 background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.SummonerName{
	    display: inline-block;
    max-width: 60px;
    vertical-align: middle;
    font-size: 11px;
    color: #555;
}
.SummonerName a{
	    display: block;
	    width: 100%;
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.StatsButton{
	    width: 30px;
    border: 1px solid #000;
}
.blueBg{
	      border-color: #4aa1d2;
    background: #64b1e4;
}
.blueBg .Off{
	background-position: -192px -5529px;
}
.blueBg .on{
	background-position: -192px -5519px;
}
.redBg{
	      border-color: #d67b77;
    background: #e89d99;
}
.redBg .Off{
	    background-position: -192px -5569px;
}
.redBg .on{
	    background-position: -192px -5559px;
}
.StatsButton .Content{
	    position: relative;
    width: 30px;
    height: 96px;
}
.StatsButton .Content .Item{
	    position: absolute;
    left: -1px;
    top: -1px;
    width: 30px;
    height: 100%;
}
.MatchDetail{
}
.switch1,.switch2{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.MatchDetail span{
	    position: absolute;
    bottom: 10px;
    left: 9px;
    background: url(../img/site.png);
    width: 13px;
    height: 10px;
}
.tabItem{
	    margin: -1px 0 0 0;
    border: 1px solid #cdd2d2;
    border-top: none;
    background: white;
}

.tabHeaders{
	    padding: 3px 15px 0;
    box-sizing: border-box;
    font-size: 0;
    border-bottom: none;
}
.tabHeaders li{
	    display: inline-block;
    width: 156px;
    margin-left: 8px;
    border-bottom: 1px solid #cdd2d2;
    vertical-align: top;
}
.tabHeaders li a{
	    border: 1px solid transparent;
    border-bottom: none;
    display: block;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: #111;
}
.tablist-active{
	    position: relative;
    border-bottom-color: #fff !important;

}
.tablist-active a{
	    font-weight: bold;
    border-color: #cdd2d2 !important;
    background: #fff !important;
}

.Result-WIN{
	border-bottom: 0;
}
.Result-WIN thead{
	    border: solid 1px #cdd2d2;
    background-color: #fff;
}
.Result-WIN thead th{
	    height: 32px;
    color: #555e5e;
    font-size: 12px;
    font-weight: normal;
}
.Result-WIN thead th:nth-child(1){
	    padding-left: 15px;
    text-align: left;
}
.Result-WIN .win span{
	    color: #1a78ae;
}
.Result-WIN .win-body{
	  background-color: #d8e4ec;
    border: solid 1px #bacedc;
}
.first-img{
	    padding-left: 10px;
    padding-right: 4px;
}
.first-img a{
	position: relative;
}
.ImgBg{
	    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url(../img/champion32.png);
   background-position: 0px -3872px;
}
.level{
	    position: absolute;
    left: -3px;
    bottom: -3px;
    width: 15px;
    height: 15px;
    background: url(../img/levelholder.png);
    color: #ddd;
    font-size: 10px;
    font-family: "Tahoma";
    text-align: center;
    line-height: 15px;
}
.smallImg{
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
}
.smallImg img{
	width: 100%;
	height: 100%;
	border-radius: 2px;
}
.radius img{
	    border-radius: 8px;
}
.name-link{
	    color: #555e5e;
    font-size: 11px;
}
.imglist{
	float: left;
    width: 22px;
    height: 22px;
    margin-left: 1px;
    vertical-align: middle;
}
.imglist img{
	    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.cellCenter{
	text-align: center;
	    color: #777;
    font-size: 11px
}
.diff{
	    color: #e19205;
}
.progress{
	    width: 50px;
    height: 8px;
    margin: 0 auto;
    border: 1px solid #cdd2d2;
    background-color: #f2f2f2;
}
.progress div{
	width: 36%;
	    height: 100%;
    border: 1px solid #c6443e;
    background-color: #ee5a52;
}
.SummaryList{
	display: flex;
	height: 32px;
	line-height: 32px;
	justify-content: space-between;
	  background-color: #d8e4ec;
    border-color: #bacedc;
    box-sizing: border-box;
    margin-top: -1px;
}
.SummaryImgLists{
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 0 10px;
}

.SummaryImgList{
	display: flex;
}
.SummaryImgList div{
	    display: inline-block;
    font-size: 11px;
    color: #555;
    margin-right: 10px;
}
.SummaryImgList div img{
	vertical-align: middle;
}
.winning{
    font-size: 11px;
    color: #879292;
}
.winning b{
	    color: #c6443e;
}
.Result-WIN .lose span{
	color: #c6443e;
}
.lose-body{
	    background-color: #e9e0e0;
    border: solid 1px #d8c0be;
}
.SummaryChartHeaderList{
	    font-size: 0;
    background-color: #fff;
    border-bottom: solid 1px #cdd2d2;
    text-align: center;
}
.SummaryChartHeaderList li{
	display: inline-block;
	width: 25%;
}
.SummaryChartHeaderList li a{
	display: inline-block;
	width: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #555;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.SummaryChartHeaderList .HeaderList-active a{
	    font-weight: bold;
    color: #1a78ae;
    border-bottom-color: #1a78ae;
}
.SummaryChartWin{
	    text-align: center;
    padding: 9px 0;
}
.SummaryChartWin li{
	    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #c6443e;
}
.SummaryChartWin li:before{
	display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    content: '';
    width: 10px;
    border-top: 4px solid #c6443e
}
.SummaryChartWin li:nth-child(1):before{
	border-top-color: #1a78ae;
}
.SummaryChartWin li:nth-child(1){
	color: #1a78ae;
}
.ratelists{
	min-height: 600px;
}
.ratelists>li{
    float: left;
    width: 50%;
    padding: 0 20px;
    padding-top: 30px;
}
.ratelists h4{
	    font-size: 13px;
    line-height: 16px;
    color: #555;
    font-weight: normal;
    text-align: center;
}
.rate-table{
	    margin-top: 12px;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.ratelist{
	    display: table-cell;
}
.ratelist li{
	margin-top: 5px;
}
.highchartpie{
	display: table-cell;
	    vertical-align: middle;
    text-align: center;
}
.highchartData{
   position: relative;
    display: inline-block;
    width: 100px;
    height: 120px;
}
.ratelist-img{
	    float: left;
    width: 20px;
    height: 20px;
}
.ratelist-img img{
	width: 100%;
	height: 100%;
}
.ratelist-progress{
	    margin-left: 20px;
    height: 20px;
    position: relative;
    background: #afafaf
}
.progress-bar{
	    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.ratelist:nth-child(1) .progress-bar{
	background: #1a78ae;
}
.ratelist:nth-child(3) .progress-bar{
  background: #c6443e;
}
.ratelist-progress span{
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 11px;
    line-height: 16px;
    color: #000;
}
.highchartsvalues{
	    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -23px;
    text-align: center;
}
.highchartsvalues div{
	display: block;
    margin: 0 auto;
    line-height: 17px;
    font-size: 12px;
    color: #555;
    font-weight: bold;
    width: 60px;
    color: #c6443e;
}
.highchartsvalues div:nth-child(1){
	    border-bottom: 1px solid #cdd2d2;
    margin-bottom: 3px;
    padding-bottom: 3px;
    color: #1a78ae;
}
.SummaryChartContent{
	display: none;
}
.highchartsdataTitle{
	    display: inline-block;
    font-size: 0;
    padding: 4px;
    background: #f2f2f2;
    border: 1px solid #cdd2d2;
    border-radius: 15px;
    
}
.highchartsdataTitle li{
	display: inline-block;
}
.highchartsdataTitle li a{
	border-radius: 11px;
    display: block;
    padding: 5px 18px;
    text-align: center;
    line-height: 12px;
    font-size: 11px;
    color: #555;
}
.highchartsdataTitle .dataTitle-active a{
	color: #333;
  background: #d7d7d7;
}
.highchartsLine div{
	width: 100%;
	height: 400px;
}
.ItemBuildTitle{
	   padding: 7px 14px 9px;
    background: #fff;
    border-bottom: 1px solid #cdd2d2;
    font-size: 12px;
    line-height: 16px;
    color: #333;
}
.ItemBuildList{
	    font-size: 0;
    margin-top: 9px;
}
.ItemBuildItem{
	    position: relative;
    display: inline-block;
    margin: 0 0 23px;
}
.ItemBuildItem:nth-child(1){
	    margin-left: 10px;
}
.ItemBuildBar{
	    display: inline-block;
    width: 20px;
    height: 16px;
    line-height: 16px;
    margin: 8px -1px 0;
    background-color: #d7d7d7;
    vertical-align: top;
    text-align: center;
}
.ItemBuildItem:nth-child(1) .ItemBuildBar{
	display: none;
}
.spSite{
	background: url(../img/site.png);
}
.ItemBuildBar i{
	    display: inline-block;
    vertical-align: middle;
    text-indent: -99999px;
	    background-position: -202px -2738px;
    width: 3px;
    height: 5px;
}
.ItemBuildItems{
	display: inline-block;
    padding: 4px;
    background-color: #d7d7d7;
    border-radius: 3px;
    vertical-align: top;
}
.ItemBuildItems li{
	    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 4px;
    vertical-align: middle;
}
.ItemBuildItems li:nth-child(1){
	margin-left: 0;
}
.ItemBuildItems li img{
	    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.Extra{
	    position: absolute;
    bottom: 0;
    right: 0;
}
.Extra span{
	display: inline-block;
    border-top-left-radius: 3px;
    padding: 1px 3px;
    color: #f2f2f2;
    background-color: #000;
    font-weight: bold;
    font-size: 11px;
}
.Extra i{
	display: inline-block;
	    background-position: -189px -2494px;
    width: 16px;
    height: 16px;
}
.ItemBuildTime{
	    position: absolute;
    bottom: -18px;
    font-size: 10px;
    color: #777;
    left: 20px;
    right: 0;
    text-align: center;
    white-space: nowrap;
}
.ItemBuildContent{
	display: table;
}
.SideContent{
	    display: table-cell;
    width: 170px;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
}
.RealContent{
	    display: table-cell;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 12px;
}
.SideContentItem{
	    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.SideContentItem img{
	width: 28px;
    height: 28px;
    border: 1px solid #000;
    border-radius: 3px;
    overflow: hidden;
}
.SideContentItem span{
	    display: block;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    color: #555;
}
.SideContentBar{
	    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: top;
    margin-top: 12px;
}
.SideContentBar i{
	display: inline-block;
	    background-position: -200px -5013px;
    width: 5px;
    height: 7px;
}
.RealContent table{
	width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
        border-spacing: 0;
}
.RealContent table tbody td{
	    position: relative;
    min-width: 20px;
    height: 20px;
    border: 1px solid #cdd2d2;
    color: #1f8ecd;
    font-family: "Helvetica Neue",Arial,SansSerif;
    font-size: 12px;
    text-align: center;
}
.RealContent table tbody tr td:nth-child(1){
	    border: none;
    color: #555;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
}
.RealContent .blue{
	    background: #1a79ae;
    color: #f2f2f2;
}
.RealContent .green{
	  background: #249069;
    color: #f2f2f2;
}
.perk-page-wrap span{
	display: inline-block;
	    vertical-align: bottom;
    width: 50%;
    max-width: 164px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #4a4a4a;
    margin: 10px 0;
}
.perk-page{
	    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    max-width: 164px;
    box-sizing: border-box;
}
.perk-page:nth-child(1){
	    border-right: 1px solid #d2d2d2;
}
.perk-page__row{
	    display: table;
    width: 100%;
    table-layout: fixed;
}
.perk-page__row .perk-page__item{
	    display: table-cell;
    padding: 4px 0;
    text-align: center;
}
.perk-page__row .big img{
	display: block;
     width: 42px;
    height: 42px;
     background: #ddd;
}
.perk-page__item img{
	    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ededed;
    margin: 0 auto;
}
.opcity{
	opacity: 0.5;
}
.row-header img{
	display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ededed;
    margin: 0 auto;
    overflow: hidden;

}
.MatchDetailGoldFilter{
	    text-align: center;
    margin-top: 12px;
    border-bottom: 12px;
    font-size: 0;
}
.MatchDetailGoldFilter>div{
	    display: inline-block;
    vertical-align: middle;
}
.VS{
    margin: 0 12px;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}
.VsTeam h4{
	    font-size: 11px;
    line-height: 16px;
    color: #555;
    margin-bottom: 4px;
    font-weight: normal;
}
.VsTeam ul li{
	display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.VsTeam ul li:nth-child(1){
	margin-left: 0;
}
.VsTeam ul li img{
	width: 36px;
    height: 36px;
    border-bottom: 12px solid #999;
}
.VsTeam .VsTeam-active img{
	border-color: #0076ff;
}
.liness{
	display: none;
}
.Matchselects{
	display: none;
}
.dataContent-TierBox{
	margin-top: 10px;
}
.TierBoxList{
    border-bottom: 1px solid #cdd2d2;
    margin-bottom: -1px;
    overflow: hidden;
    height: 34px;
    padding-left: 10px;
    background: #fafbfd;
}
.TierBoxList li{
	  display: inline-block;
    height: 33px;
    margin: 0 10px;
    vertical-align: top;
    color: #555e5e;
    font-size: 12px;
    line-height: 36px;
}
.TierBoxList .TierBoxList-active{
	    color: #1f8ecd;
    font-weight: bold;
    border-bottom: 2px solid #1f8ecd;
}
.TierBox-tableHeader{
	    background-color: #fafbfd;
    border-bottom: solid 1px #cdd2d2;
    padding: 6px 0;
    text-align: center;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
.TierBox-tableHeader div{
    margin-left: -1px;
    background-color: #fafafa;
    border: solid 1px #cdd2d2;
    line-height: 15px;
    font-size: 12px;
    color: #555;
    padding: 9px 16px 8px;
}
.TierBox-tableHeader .TierBox-tableHeader-active{
	    background-color: #1f8ecd;
    border: solid 1px #1a78ae;
    color: white;
}
.TierBox-tablelist thead th{
	    height: 54px;
    border-bottom: 1px solid #cdd2d2;
    color: #777;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
   background-image: url(../img/bg-tableSorter.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    outline: none;
}
.CompetitionRate{
	display: inline-block;
}
.CompetitionRate span{
	    color: #879292;
    font-size: 12px;
    vertical-align: middle;
}
.Num{
	margin-left: 6px;
}
.CompetitionRate .win-rates{
	width: 90px;
	    height: 20px;
    vertical-align: middle;;
}
.TierBox-tablelist tbody{
	    background-color: white;
}
.TierBox-tablelist tbody td{
	text-align: center;
	    height: 52px;
    border-bottom: 1px solid #cdd2d2;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}
.TierBox-tablelist tbody td:nth-child(3){
	text-align: left;
	padding-left: 10px;
}
.TierBox-tablelist tbody td:nth-child(3) a{
	    color: #555e5e;
	    font-size: 13px;
}
.spt{
	display: inline-block;
	   width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url(../img/champion32.png);
    background-position: 0px -832px;
}
.text span{
	color: white;
}
.TierBox-table{
	display: none;
}
.TierBox-tableContent .TierBox-tablelist{
	display: none;
}
.WarzoneHeader{
	display: flex;
}
.WarzoneHeader-img{
	    display: inline-block;
    margin: 14px 0 14px 35px;
    width: 160px;
    vertical-align: top;
}
.WarzoneHeader-img img{
	width: 130px;
	height: 130px;
}
.WarzoneHeader-title{
	    display: inline-block;
    width: 490px;
    margin: 26px 0 16px 26px;
    vertical-align: top;
    color: #555e5e;
}
.WarzoneHeader-title h4{
	color: #242929;
    font-size: 22px;
    margin-bottom: 12px;
}
.WarzoneHeader-title p{
	    font-size: 20px;
    margin-bottom: 20px;
}
.WarzoneHeader-title button{
	    display: inline-block;
    width: 68px;
    padding: 7px 0;
    font-size: 16px;
     border: 1px solid #ccd1d1;
	    background-color: #1f8ecd;
    border-color: #1a78ae;
    color: #f2f2f2;
}
.WarzoneTable thead th{
	    height: 40px;
    border-bottom: 1px solid #cdd2d2;
    color: #555e5e;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}
.WarzoneTable tbody td{
	    height: 42px;
    border-bottom: 1px solid #cdd2d2;
    color: #555e5e;
    font-size: 13px;
    text-align: center
}
.wartable-img a img{
	    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
}
.WarzoneTable .wartable-name{
	text-align: left;
	padding-left: 10px;
}
.wartable-name a{
	 color: #555e5e;
}
.wartable-bg .ispt{
	display: inline-block;
	margin-right: 6px;
	background: url(../img/site.png);
}
.wartable-bg .ispt1{
	    background-position: -186px -3505px;
    width: 19px;
    height: 16px;
}
.wartable-bg .ispt2{
	     background-position: -191px -3449px;
    width: 14px;
    height: 16px;
}
.wartable-bg .ispt3{
	     background-position: -189px -3417px;
    width: 16px;
    height: 16px;
}
.wartable-bg .ispt4{
	    background-position: -189px -3481px;
    width: 16px;
    height: 4px;
}
.warRate .win-rates{
	    position: relative;
    display: inline-block;
    width: 98px;
    height: 20px;
    vertical-align: middle;
}
.wartable-rate .rateNum{
	
}
.liveMore{
	    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
}
.liveMoreContent{
	    margin-top: 10px;
    border: 1px solid #cdd2d2;
    border-radius: 2px;
    background: #f2f2f2;
    text-align: center;
    padding: 12px;
}
.liveMoreContent h2{
	    line-height: 20px;
    font-size: 20px;
    color: #222;
    margin: 10px 0;
}
.liveMoreContent p{
	    line-height: 20px;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}