b,strong{
	font-weight: bold;
}
.game-doubleft section{
	width: 100%;
	margin-top: 20px;
}

.doubleft-introduce{
	padding-left: 30px;
	width: 1000px;
	margin: 0 auto;
}
.doubleft-introduce-header{
	margin-bottom: 20px;
	margin-left: 10px;
}
.doubleft-introduce-header li{
	  display: inline-block;
    padding: 3px 4px 2px 4px;
    margin-right: 3px;
    background: #e0e3e3;
    color: #657070;
    font-size: 11px;
    border: 1px solid #ced3d3;
    border-radius: 3px
}
.doubleft-introduce-content{
	display: flex;
}
.doubleft-introduce{
	position: relative;
}
.doubleft-introduce-img{
	position: relative;
}
.doubleft-introduce-bgBig{
	background: url(../img/challenger.png) no-repeat;
	  position: absolute;
    left: -10px;
    top: -10px;
    width: 120px;
    height: 120px;
    background-position: center bottom;
    background-repeat: no-repeat;;
}
.doubleft-introduce-img img{
	width: 100px;
	height: 100px;
}
.doubleft-introduce-bgsmall{
	position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -14px;
    margin-left: -22px;
    width: 44px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
    background: url(../img/bg-levelbox.png);
    background-size: 100%;
    line-height: 17px;
    font-family: Helvetica,AppleSDGothic,"Apple SD Gothic Neo",AppleGothic,Arial,Tahoma;
    font-size: 14px;
    text-align: center;
    color: #eabd56;
}
.doubleft-introduce-detail{
	    position: relative;
    display: inline-block;
    height: 100px;
    margin: 0 25px 0 25px;
    vertical-align: top;
    line-height: 1.1;
}
.doubleft-introduce-detail-content{
	    color: #242929;
    font-size: 12px;
    margin-bottom: 3px;
}
.doubleft-introduce-detail-content span{
	color: #879292;
}
.doubleft-introduce-detail b{
	color: #242929;
  font-size: 20px;
  margin-right: 4px;
  vertical-align: middle;
}
.doubleft-introduce-detail .Collection{
	    margin-left: 4px;
    vertical-align: 1px;
    text-decoration: none;
    color: #777;
    display: inline-block;
    border: 1px solid #c6cbcb;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 10px;
}
.doubleft-introduce-detail p{
	color: #555e5e;
    font-size: 11px;
    text-decoration: none;
    line-height: 1.5;
}
.doubleft-introduce-detail p span{
	    color: #059ede;
    font-weight: bold;
}
.doubleft-introduce-button{
	display: flex;
}
.doubleft-introduce-button li{
	margin: 0 6px 6px 0;
	  padding: 11px 14px 10px;
    border-radius: 2px;
    border: none;
    background: none;
    font-size: 14px;
}
.doubleft-introduce-button .button1{
	    border: 1px solid #1a78ae;
    background: #1f8ecd;
    color: #f2f2f2;
}
.doubleft-introduce-button .button2{
	  border: 1px solid #227a55;
    background: #2ca170;
    color: #f2f2f2;
}
.doubleft-introduce-button .button3{
	  border: 1px solid #ccd1d1;
    background: #f2f2f2;
    color: #242929;

}
.doubleft-introduce-time{
	  position: absolute;
    left: 160px;
    bottom: -18px;
    height: 12px;
    color: #99a2a2;
    font-size: 11px;
}
.doubleft-introduce-nav{
	  border-bottom: 1px solid #c6cbcb;
    margin-top: 25px;
    margin-bottom: 20px;
}
.doubleft-introduce-navList{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	display: flex;
}
.doubleft-introduce-navList li{
	margin-left: -1px;
}
.doubleft-introduce-navList li a{
	display: block;
    min-width: 70px;
    height: 41px;
    border: 1px solid #c6cbcb;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #f2f2f2;
    color: #555e5e;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}
.doubleft-introduce-navList li:last-child{
	    margin-left: 15px !important;
}
.doubleft-introduce-navList li:last-child a{
	        padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    color: #1a78ae
}
.doubleft-introduce-navList  .navList-active{
	  border-bottom: 1px solid #e8eaea;
    background: #e8eaea;
    color: #141717;
}
.doubleft-introduce-navList li a:hover{
	 background: #e8eaea;
}
.doubleft-introduce-dataContent{
	width: 1000px;
	margin: 0 auto;
	display: flex;
}
.doubleft-introduce-dataContent aside{
	width: 300px;
}
.doubleft-introduce-dataContent article{
	width: 690px;
	margin-left: 10px;
}
.dataContent-TierBox{
	  border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
    margin-top: 10px;
}
.dataContent-slideBox{
	    display: table;
    width: 100%;
    color: #879292;
    position: relative;
}
.RowTable{
	  display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}
.dataContent-slideBox-img{
	    display: table-cell;
    vertical-align: middle;
    width: 135px;
    height: 116px;
    text-align: center;
}
.dataContent-slideBox-img img{
	    width: 120px;
    height: 120px;
    margin: -5px 0 -10px 0;
}
.dataContent-slideBox-content p{
	    color: #1f8ecd;
    font-size: 13px;
}
.dataContent-detail b{
	color: #555e5e;
}
.dataContent-detail div span{
	margin-right: 6px;
}
.dataContent-table{
	display: table;
    width: 100%;
    border-top: 1px solid #cdd2d2;
    color: #879292;
    table-layout: fixed;
}
.dataContent-table div:nth-child(1){
	    display: table-cell;
    width: 55px;
    height: 62px;
    vertical-align: middle;
    padding-left: 10px;
}
.dataContent-table div:nth-child(1) img{
	    width: 50px;
    height: 50px;
    margin: -5px 0 -10px 0;
}
.dataContent-table div:nth-child(2){
	  display: table-cell;
    width: 65px;
    color: #555e5e;
    font-size: 11px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}
.dataContent-table div:nth-child(3){
	    display: table-cell;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.idol-introduce{
	display: flex;
	position: relative;
}
.idol-introduce-content{
	    position: relative;
    padding: 13px 0 8px 13px;
    color: #1e2632;
    line-height: 14px;
    font-size: 12px;
}
.idol-content{
	display: flex;
	color: #1e2632;
}
.idol-img{
    position: relative;
    width: 50px;
    height: 50px;
    background: #cecece;
    box-shadow: inset 1px 1px 1px 0 #c0c0c0;
    margin-right: 10px
}
.idol-img img{
	position: absolute;
    left: 0;
    width: 100%;
}
.idol-name a{
	    line-height: 29px;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.idol-rank{
	    margin-top: 6px;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
}
#hightcharts5{
	-webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  
}
.doubleft-introduce-footer{
	border-top: 1px solid #cdd2d2;
    padding: 8px 13px;
    background: #fff;
}
.doubleft-introduce-footer span{
	    line-height: 14px;
    font-size: 12px;
    color: #5d6571;
    vertical-align: middle;
}
.doubleft-introduce-footer img{
	height: 12px;
    vertical-align: middle;
    margin-left: 8px;
}
.heroTable-list{
	 background: #ededed;
}
.heroList{
	  display: table;
    width: 100%;
    table-layout: fixed;
}
.heroList li{
	  display: table-cell;
    border-left: 1px solid #cdd2d2;
    border-bottom: 1px solid #cdd2d2;
    background-color: #f2f2f2;
    vertical-align: middle;
    cursor: pointer;
    color: #879292;
    text-align: center;
}
.heroList li a{
	    display: block;
    color: inherit;
    padding-top: 7px;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 6px;
    text-decoration: none;
    box-sizing: border-box;
}
.heroList li a:hover{
	color: #879292;
}
.heroList .heroList-active{
	    border-bottom-color: #ededed;
    background-color: #ededed;
    color: #555e5e;
    font-weight: bold;
}
.heroTable{
	  display: none;
}
.hero-row{
	display: table;
    width: 100%;
    border-bottom: 1px solid #cdd2d2;
    color: #879292;
    text-align: center;
}
.hero-cell{
	  display: table-cell;
    vertical-align: middle;
}
.cell-img{
    width: 60px;
    padding: 5px 0 0 0;
    text-align: right;
}
.cell-name{
    width: 85px;
    text-align: left;
    padding-left: 10px;
    box-sizing: content-box;
}
.cell-rat{
    line-height: 1.8;
}
.cell-number{
    width: 70px;
    line-height: 1.8;
}
.hero-cell-title a{
	    width: 70px;
    color: #555e5e;
    font-weight: bold;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hero-cell-KDA{
	    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}
.hero-cell-KDA span{
	    color: #e19205;	
}
.hero-cell-rate{
	    color: #c6443e;
	    font-weight: bold;
}
.row-footer a{
	    display: block;
    text-decoration: none;
    padding: 11px 0 10px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #555e5e;
}
.row-footer a:hover{
	text-decoration: underline;
}
.win-rate{
	    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #cdd2d2;
    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.win-rate-row{
	    display: table;
    width: 100%;
    border-bottom: 1px solid #cdd2d2;
    background: #ededed;
    color: #879292;
    text-align: center;
    font-size: 12px;
    table-layout: fixed;
}
.win-cell{
	display: table-cell;
	vertical-align: middle;
}
.win-img{
	  width: 44px;
    padding: 5px 0 0 0;
    text-align: right;
}
.win-img a{
	display: inline-block;
	background: url(../img/champion32.png) 0 0 no-repeat;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.win-name{
	    width: 61px;
    text-align: left;
}
.win-name a{
	    width: 100%;
    margin-left: 10px;
    color: #555e5e;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}
.win-rat{
	width: 40px;
}
.win-pro{
	    height: 40px;
    padding-left: 6px;
    padding-right: 12px;
}
.win-rates{
	    position: relative;
    display: inline-block;
    width: 140px;
    height: 20px;
    vertical-align: middle;
}
.spite1{
	background: url(../img/site.png) -65px -545px no-repeat;
}
.fill{
	  position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 3px;
}
.fill.left{
	    z-index: 2;
    background: #3d95e5;
    border: 1px solid #3480c6;
}
.fill.right{
	    width: 100%;
    z-index: 1;
    background: #ee5a52;
    border: 1px solid #c6443e;
}
.spite2{
	background: url(../img/site.png) -65px -565px no-repeat;
}
.text{
	position: absolute;
    top: 0;
    height: 100%;
    font-size: 11px;
    z-index: 3;
    color: #f2f2f2;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text.left{
	left: 6px;
   text-align: left;
}
.text.right{
	    right: 5px;
    text-align: right
}
table{
	width: 100%;
    table-layout: fixed;
        border-collapse: collapse;
    border-spacing: 0;
}
.play-table thead th{
	    padding-top: 11px;
    padding-bottom: 10px;
    background-color: #ededed;
    color: #879292;
    font-weight: normal;
    font-size: 12px;
    word-break: break-word;
}
.play-table thead th:nth-child(1){
	text-align: left;
    padding-left: 15px;
}
.play-table tbody td{
	   padding-top: 11px;
    padding-bottom: 10px;
    color: #879292;
    font-size: 11px;
    text-align: center;
}
.play-table tbody td:nth-child(1){
	text-align: left;
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.play-table tbody td:nth-child(1) a{
	    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.play-table tbody td:last-child{
	color: #676f89;
}
.match-header{
	display: flex;
	justify-content: space-between;
}
.match-header-list{
	display: flex;
	padding-left: 10px;
}
.match-header-list li{
	display: inline-block;
    height: 32px;
    margin: 0 10px;
    vertical-align: top;
}
.match-header-list li a{
	    display: inline-block;
    color: #555e5e;
    font-size: 12px;
    line-height: 36px;
    text-decoration: none;
}
.match-header-active{
   border-bottom: 2px solid #1f8ecd;
}
.match-header-list .match-header-active a{
	    color: #1f8ecd;
    font-weight: bold;
}
.match-seclect{
	  display: inline-block;
    border: none;
    height: 30px;
    line-height: 36px;
    cursor: pointer;
}
.match-seclect select{
	  position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    cursor: pointer;
    font-size: 14px;
    background: #f2f2f2;
    border: 0;
}
.select-content{
	    position: relative;
    height: 34px;
    border-left: 1px solid #cdd2d2;
}
.select{
	  position: relative;
    width: 114px;
    height: 17px;
    padding: 8px 30px 9px 9px;
    background-color: #f2f2f2;
    box-sizing: content-box;
}
.select input{
	     display: block;
    width: 100%;
    color: #999;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}
.select-img{
	    position: absolute;
    top: 10px;
    right: 10px;
}
.select-img i{
	display: block;
	background: url(../img/site.png) no-repeat;
	    background-position: -190px -6329px;
    width: 15px;
    height: 15px;
    
}
.select-lists{
	  position: absolute;
    right: -1px;
    top: 36px;
    width: 303px;
    height: 332px;
    margin-top: -1px;
    z-index: 100;
}
.select-list{
	  display: table;
    width: 100%;
    height: 100%;
    font-size: 0;
    table-layout: fixed;
}
.select-list .select-cell{
	   display: table-cell;
    width: 140px;
    padding-bottom: 10px;
    border-left: 1px solid #cdd2d2;
    border-right: 1px solid #cdd2d2;
    border-bottom: 1px solid #cdd2d2;
    vertical-align: top;
}
.select-cell:nth-child(1){
	background: url(../img/img_boxbg_recent.png);
	border-top: 1px solid #cdd2d2;
}
.select-cell:nth-child(2){
	background: url(../img/img_boxbg.png);
  border-top: 1px solid #f2f2f2;
}
.select-list-title{
	      height: 13px;
    margin: 12px;
    padding-bottom: 9px;
    color: #aaa;
    font-size: 11px;
    border-bottom: 1px solid #cdd2d2;
    box-sizing: content-box;
}
.select-list-content{
	height: 332px;
	overflow-y: auto;
}
.select-list-content li{
	height: 21px;
}
.select-list-content li a{
	    display: block;
    padding: 3px 12px;
    max-width: 130px;
    font-size: 13px;
    color: #879292;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
