.game-content section{
	width: 100%;
	margin-top: 20px;
}
.game-content .game-section-img{
	margin: 0 auto;
	width: 728px;
	height: 90px;
}
.game-section-img img{
	width: 100%;
	height: 100%;
}
.game-section-content {
	width: 1080px;
	margin: 15px auto 0;
}
.game-section-content section{
	display: flex;
}
.game-section-content header{
	display: flex;
	justify-content: space-between;
	color: #4a4a4a;
	margin-bottom: 10px;
}
.game-section-content article{
	width: 606px;
	background: white;
	border: solid 1px #e9eff4;
}
.game-section-content aside{
	width: 475px;
	background: white;
	border: solid 1px #e9eff4;
	border-left: none;
}
.game-section-content-list{
	display: flex;
	width: 100%;
	height: 50px;
	background: #fafbfd;
	padding-left: 20px;
	border-bottom: solid 1px #e9eff4;
}

.game-section-content-list li a{
	display: block;
	padding: 15px 7px;
	font-size: 14px;
	color: #777;
}
.game-section-content-list .article-active a{
	font-weight: bold;
	color: #4990e2;
	border-bottom: 2px solid #4990e2;
}
.game-section-last {
	width: 160px;
	height: 36px;
	margin-top: 8px;
	margin-left: 20px;
}
.game-section-last form {
	width: 100%;
	height: 100%;
}
.game-section-last form input {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 10px 12px;
	background: #f7f7f7;
}
.game-section-content-hero{
	margin: 10px 8px;
	display: flex;
	flex-flow: row wrap;
}
.game-hero-list{
	margin-top: 20px;
	margin-left: 14px;
	position: relative;
}
.game-hero-img{
	width: 82px;height: 82px;
	background-size: 100%;
	border: 2px solid black;
}
.game-hero-name{
	margin-top: 8px;
	color: #4a4a4a;
	line-height: 15px;
}
.game-hero-position{
	position: absolute;
	bottom: 24px;
	right: 0;
	color: white;
}
.game-hero-position span{
	display: block;
	padding: 0 4px;
	background: #353b3e;
	margin-bottom: 1px;
}
.game-section-first{
	padding: 15px 7px;
	color: #222;
	font-size: 14px;
	background: #fafbfd;
}
aside .game-section-content-list li{
	padding: 0 5px;
}
.game-section-content-list:nth-child(2) li:first-child{
	margin-left: 120px;
}
.game-aside-content-hero{
	padding: 20px;
}
.game-aside-list{
	display: flex;
	flex-flow: row wrap; 
}
.game-aside-list li{
	 border: solid 1px #e9eff4;
	 border-collapse: collapse;
	 background: #f9f9fa;
	 width: 16%;
}
.game-aside-list li a{
	display: block;
	color: #b6b6b6;
	text-align: center;
	padding: 11px 0 10px;
}
.aside-active{
	background: white;
	color: #4a4a4a !important;
}
.game-aside-table {
	width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
.game-aside-thead th{
	height: 47px;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.game-aside-thead td{
	height: 47px;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.game-left{
	text-align: left;
	padding-left: 10px;
}
.game-left div{
	padding-left: 10px;
	color: #4a4a4a;
}
.game-left div:nth-child(2){
	color: #777;
	margin-top: 2px;
}
.game-aside-table tbody{
	border: 1px solid #e9eff4;
}
.game-aside-table tbody tr{
	border-bottom: 1px solid #e9eff4;
}

