.nav-match{
	    width: 100%;
    max-height: 140px;
    background-color: #fff;
    position: relative;
    display: flex;
}
.nav-match-img{
	    width: 80px;
    background: none;
    padding: 8px 0 0 0;
        margin-left: 26px;
}
.nav-match-img img{
	    width: 36px;
}

.nav-match-list:before{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #fff;
    border-right: 50px solid transparent;
}
.nav-match-list{
	width: calc(100% - 110px);
	display: flex;
	    background-color: #f8f8f8;
    padding-left: 70px;
    position: relative;
}
.nav-match-list li{
	    height: 50px;
    line-height: 50px;
    font-size: 14px;
    position: relative;
}
.nav-match-list li a{
	display: block;
    width: 100%;
    height: 100%;
    color: #333;
    padding: 0 15px;
}
.nav-match-list li a:hover{
	background: #eee;
}
.select-list{
	display: none;
    width: 250px;
    max-height: 500%;
    background-color: #fff;
    padding: 20px 0;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 12;
}
.select-list a{
	    display: block;
    width: 250px;
    height: 38px;
    line-height: 38px;
    z-index: 100;
    color: #333;
    padding-left: 30px;
    font-weight: 700;
    overflow: hidden;
    font-family: 'Trade Gothic LT Bold','\5FAE\8F6F\96C5\9ED1';
}
.select-list a:hover{
	color: #ff8400;
}
::-webkit-scrollbar-corner {
    width: 6px;
    height: 6px;
    background: #b2b2b2;
}
::-webkit-scrollbar {
    width: 6px;
    height: 0;
    border: 3px solid #fff;
}
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
}
.match_link_more::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(177,177,177);
    background-color: #f8f8f8;
}
.game-match section{
	    width: 100%;
    max-width: 1200px;
    margin: 30px auto 10%;
}

.match-selects{
 		height: 50px;
    line-height: 32px;
    padding: 9px 25px;
    font-size: 16px;
    background-color: #fff;
    position: relative;
    display: flex;
    z-index: 9;
    justify-content: space-between;
}
.match-selects li{
	display: flex;
}
.match-selects a{
	display: block;
	padding: 0 10px;
	color: #333;
	font-size: 16px;
	height: 100%;
	
}
.delete{
	padding: 0 10px;
	color: #333;
	font-size: 14px;
	height: 100%;
	color: #929292;
	display: none;
}
.match-selects .select-list{
	position: absolute;
  padding: 15px 0;
  z-index: 100;
  box-shadow: 0 3px 12px rgba(0,0,0,.175);
  transition-duration: .3s;
  background-color: #fff;
  max-height: 332px;
}
.match-selects .select-list a:hover{
	color: #ff8400;
}
.match-selects a:hover{
		background: #eee;
		color: #ff8400;
}
.select-active{
	color: #ff8400;
}
.datapicker{
	position: absolute;
	  top: 50px;
    left: 0px;
    display: block;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
    border: none;
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.175);
    box-shadow: 0 3px 12px rgba(0,0,0,.175);
    transition-duration: .3s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}
.datapicker table{
	width: 100%;
}
.datepicker td, .datepicker th {
    width: 54px;
    height: 54px;
    text-align: center;
    position: relative;
     font-family: 'Trade Gothic LT Bold','\5FAE\8F6F\96C5\9ED1';
     font-weight: 500;
 }
  .datepicker th{
  	color: #999;
  }
 .datepicker table tr td.new, .datepicker table tr td.old {
    color: #999;
}
 .datepicker table tr td.day.have:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: -3px;
    background: #fddc00;
    display: block;
}
.datepicker table tr td.day:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background: #efefef;
    transition-duration: .5s;
}
.datepicker table tr td.active:after {
    background: #fddc00;
}
.datepicker table tr td.day:hover:after, .datepicker table tr td.active:after {
    visibility: visible;
    opacity: 1;
}
.match-seclects{
	width: 75%;
}
.ranking-match{
	visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #fff;
    padding: 20px;
    z-index: 5;
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.175);
    box-shadow: 0 3px 12px rgba(0,0,0,.175);
    transition-duration: .3s;
}
.ranking-match.show {
    visibility: visible;
    height: 100px;
    opacity: 1;
}
.ranking-match-list{
	    width: 95px;
    height: 100%;
    float: left;
    overflow-y: auto;
}
.ranking-match-list li{
    height: 60px;
    line-height: 60px;
    position: relative;
}
.ranking-match-list li a{
	    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
     color: rgba(90,90,90,.2);
     font-size: 14px;
}
.ranking-match-list li a:hover{
	background: none;
}
.week{
	display: inline-block !important;
}
.week>div{
	display: none;
}
.weeknum{
	display: flex;
}
.round{
	display: flex;
}
.week div div{
	margin-right: 10px;
}
.weeknum-active a{
	background: #eee;
	color: #ff8400;
}
.week p{
	margin: 0 6px;
}
.ranking-name{
	width: calc(100% - 95px);
    float: right;
    height: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    overflow-y: auto;
    position: relative;
}
.ranking-lists{
	  transition-duration: .5s;
    opacity: 1;
    position: absolute;
    left: 10px;
    top: 5px;
    width: calc(100% - 20px);
    display: none;
    justify-content: space-between;
    flex-flow: row wrap;
}
.ranking-lists a{
	   height: 50px;
    line-height: 50px;
    margin: 4px 0;
    width: 33.3333%;
    padding: 0 5px;
    display: flex;
}
.ranking-lists a div{
	  display: inline-block;
    width: 30px;
    text-align: center;
    overflow: hidden;
}
.ranking-lists a div img{
	vertical-align: middle;
	max-width: 100%;
}
.ranking-lists a span{
	    display: inline-block;
    text-align: left;
    width: calc(100% - 30px);
    padding-left: 5px;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}
.ranking-lists a:hover{
	background: none;
}
.match-list-active a{
	color: #333 !important;
}
.match-table{
	background: white;
}
.match-table-list{
    padding: 25px;
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    transition-duration: .5s;
    border-bottom: 1px solid #f7f7f7;
    cursor: pointer;
 }
 .match-table-list>div{
 	    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    color: #333333;
    font-size: 14px;
 }
 .match-time{
 	width: 140px;
 }
 .ranking-Icon{
 	width: 70px;
 }
 .match-rate{
     width: 290px;
    padding: 0 30px;;
 }
.match-time p:nth-child(1){
	color: #11bcfb;
    font-size: 24px;
}
.match-time b{
	    font-size: 14px;
    color: #333;
}
.match-name{
	box-sizing: content-box;
	    background-color: #f8f8f8;
    border-radius: 15px;
    text-align: center;
    padding: 3px 5px;
}
.match-ranking{
	    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.rates{
	display: block;
	width: 100px;
	text-align: center;
	color: #11bcfb;
}
.video-door{
	    display: block;
    width: 90px;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    color: #fff;
    margin: 5px auto;
    background-color: #ff3333;
}
.match-list header{
	    height: 32px;
    line-height: 32px;
    background-color: #fbfbfb;
    padding: 0 25px;
    color: #bfbfbf;
    transition-duration: .5s;
}
.match-list {
	margin-top: 20px;
}
.papegration{
	   background-color: #fff;
    padding: 20px 20px;
    position: relative;
}
.papegration .ui-pagination-container .ui-pagination-page-item{
	border: none;
	color: #333;
}
.papegration .ui-pagination-container .ui-pagination-page-item.active{
	    background-color: #bcbcbc;
    color: #fff;
    border-radius: 50%;
}
.Notbeginning .video-door{
	background: #008100;
}

.Finished .match-info{
	background-color: #11bcfb;
}
