.game-page{
	background: url(../img/2017worlds.jpg) no-repeat center 300px;
}
.page-bg{
	    width: 100%;
    height: 470px;
}
.game-page section{
	width: 1240px;
	margin: 20px auto 0;
}
.game-page section>div{
	margin-top: 30px;
}
.page-header-swiper{
	position: relative;
}
.page-header-swiper-list{
	width: 2480px;
	    height: 285px;
	    position: absolute;
}
.page-header-swiper-list>li{
	    width: 1235px;
    height: 235px;
    float: left;
    position: relative;
}
.page-header-swiper-list>li ol li{
	float: left;
    margin: 0 6px 0;
}
.page-header-swiper-list>li ol{
	width: 1235px;
	height: 285px;
	display: flex;
	padding-left: 0;
}
.page-header-swiper-list>li ol li{
	 width: 235px;
    height: 235px;
    background: #fff;
    background: rgba(255,255,255,0.8);
    margin: 0 6px 0;
    position: relative;
    box-shadow: 0 4px 12px #f0f0f0;
}
.page-date{
	box-sizing: content-box;
	    width: 100%;
    height: 60px;
     background: url(../img/schedule_spr.png);
    background-position: 0 -70px;
    text-align: center;
    padding-top: 10px;
}
.page-date p{
	  color: #c49f58;
    font-size: 24px;
    height: 28px;
    line-height: 28px;
    font-family: 'dinlight';
    display: block;
    overflow: hidden;
}
.page-date p:nth-child(2){
	line-height: 20px;
	font-size: 16px;
}
.page-match{
	display: flex;
	justify-content: space-between;
    height: 95px;
    padding: 15px 7px 0;
    position: relative;
}
.page-match-img{
	    width: 50px;
    height: 90px;
    position: relative;
    text-align: center;
}
.page-match-img p{
	    width: 50px;
    height: 50px;
    overflow: hidden;
}
.page-match-img p img{
	    width: 50px;
    height: 50px;
    vertical-align: top;
}
.page-match-img span{
	display: block;
	    width: 50px;
    height: 20px;
    line-height: 15px;
    overflow: hidden;
    padding-top: 5px;
        padding-right: 5px;
    font-size: 12px;
    color: #666;
}
.page-match-rate {
	display: flex;
	    width: 106px;
	   position: absolute;
    top: 22px;
    left: 50%;
    margin-left: -52px;
    font-family: 'dinbold',microsoft yahei;
}
.page-match-rate p{
	box-sizing: content-box;
	    width: 40px;
    height: 50px;
    position: relative;
    padding: 0 4px;
    overflow: hidden;
    background: url(../img/spr.png);
    background-position: 4px -146px;
}
.page-match-rate p em{
	font-style: normal;
	    width: 40px;
    height: 50px;
    display: none;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    line-height: 47px;
}
.page-match-rate p i:nth-child(2){
	    width: 40px;
    height: 1px;
    line-height: 1px;
    display: none;
    overflow: hidden;
    background: #3b3b3b;
    position: absolute;
    top: 50%;
    left: 4px;
}
.page-match-rate p i:nth-child(3){
	background: url(../img/open.gif);
	    width: 48px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.page-match-rate span{
	display: block;
	width: 14px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    font-size: 42px;
    color: #3b3b3b;
}
.page-see{
	    width: 100%;
    text-align: center;
    padding-top: 8px;
    position: relative;
}
.page-see a{
	box-sizing: content-box;
	    width: 90px;
    height: 24px;
    line-height: 24px;
    border: 2px solid #c49f58;
    color: #c49f58;
    display: block;
    text-align: center;
    border-radius: 28px;
    display: block;
    clear: both;
    margin: 0 auto;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -45px;
    font-size: 14px;
}
.page-see a:hover{
	background: #c49f58;
	color: white;
}
.page-see h4{
	    color: #c49f58;
    font-size: 14px;
    font-weight: 100;
    margin: 10px 0 4px;
}
.page-see p{
	color: #b3b3b3;
    font-size: 12px;
}
.page-header-swiper>span{
	display: inline-block;
	  background: url(../img/schedule_spr.png) no-repeat;
	  	width: 59px;
  height: 59px;
  position: absolute;
  top: 95px;
  opacity: 0.35;
  filter: alpha(opacity=35);
  text-indent: -999em;
}
.page-header-swiper .swiper-pape-left{
    top: 120px !important;
      left: -35px;
    background-position: 0px -140px !important;
}
.page-header-swiper .swiper-pape-right{
	    right: -35px;
    background-position: -59px -140px !important;
}
.swiper-contair{
	width: 1240px;
	height: 285px;
	position: relative;
	overflow: hidden;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.game-news{
	display: flex;
}
.game-news aside{
	   width: 430px;
    font-size: 26px;
    color: #404040;
}
.news-title{
	box-sizing: content-box;
	   height: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ededee;
    line-height: 30px;
    color: #404040;
    font-size: 26px;
    padding-bottom: 5px;
    font-weight: 100;
}
.news-title h2{
	    font-weight: 100;
    font-size: 22px;
}
.news-title a{
	    color: #555;
}
.news-list{
	    margin-bottom: 20px;
	    height: 100px;
}
.news-list li{
	  width: 205px;
    float: left;
    text-align: center;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.news-list li a{
	    color: #555555;
    font-size: 16px;
}
.news-list .news-tit{
	    width: 100%;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.news-list .news-tit a{
	font-size: 22px;
	    color: #cea04a !important;
}
.news-list:nth-child(2){
	height: 120px;
	box-sizing: content-box;
	    border-bottom: 1px solid #ededee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.news-list li a:hover{
	color: #cea04a;
}
.news-list .news-silce{
	background: url(../img/sprite_ico.png);
	    background-position: -82px -98px;
    float: left;
    width: 20px;
    height: 20px;
    margin: 6px 0 0 0;
}
.mode1-news-list{
	  font-size: 16px;
    color: #555;
}
.mode1-news-list li{
	    width: 100%;
    line-height: 42px;
}
.mode1-news-list li a{
	    font-size: 16px;
    color: #555;
	    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mode1-news-list li .fr{
	    font-size: 12px;
    color: #a6a6a6;
}
.mode1-news-list li a span{
	    display: inline-block;
    width: 36px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.mode1-news-list li a .hot{
	    background-color: #e6334f;
}
.mode1-news-list li a:hover{
		color: #cea04a;
}
.mode1-news-list li a .trailer{
	background-color: #3aabe5;
}
.mode1-news-list li a .video{
	    width: 24px;
	    background: url(../img/data_image_png;base….png);
}
.game-news article{
	    width: 780px;
    margin-left: 30px;
}
.video-title h2 span{
	    color: #cea04a !important;
}
.video-title a{
	font-size: 16px;
}
.video-box{
	    height: 440px;
	    background: white;
    margin-bottom: 20px;
    position: relative;
}
.video-box a{
	  background: url(../img/roombg.png) no-repeat;
    width: 180px;
    height: 50px;
    text-indent: -999em;
    position: absolute;
    left: 300px;
    top: 178px;
    display: none;
}
.match-news{
	display: flex;
	justify-content: space-between;
}
.match-news-left{
	width: 375px;
}
.match-news-content{
	display: flex;
	flex-flow: row wrap; 
}
.match-news-content div{
	  width: 180px;
    height: 110px;
    margin: 0 0 15px 15px;
}
.match-news-content div:nth-child(2n+1){
	margin-left: 0;
}
.match-news-content div a{
	display: block;
	height: 110px;
}
.match-news-content div a img{
	width: 100%;
	height: 100%;
}
.match-news-content div a:hover{
	border: 3px solid #cea04a;
}
.match-swiper{
	width: 375px;
}
.match-swuper-content{
	    width: 100%;
    height: 235px;
    margin: 0px auto;
   
    position: relative;
}
.match-swuper-content ul{
	display: flex;
}
.swiper-pagination{
	vertical-align: middle;
	text-align: right !important;
}
.swiper-pagination .swiper-pagination-bullet{
	opacity: 1;
	border-radius: 0;
	background: url(../img/sprite_ico.png);
	 background-position: -32px -100px;
    margin-right: 6px;
    width: 17px;
    height: 17px;
    text-indent: -9000em;
    cursor: pointer;
    overflow: hidden;
}
.swiper-pagination .swiper-pagination-bullet-active{
	 background-position: 0 -95px;
	 width: 26px;
	 height: 26px;
	 margin-bottom: -5px !important;
}
.mode2{
	display: flex;
	justify-content: space-between;
}
.mode2-left{
	    width: 430px;
}
.mode2-left ul{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.mode2-left ul li{
	  width: 210px;
    height: 110px;
    margin-bottom: 10px;
}
.mode2-left ul li:nth-child(1){
	    width: 430px;
}
.mode2-left ul li a{
	display: block;
	height: 110px;
}
.mode2-left ul li a img{
	width: 100%;
	height: 100%;
}
.mode2-left ul li a:hover{
	border: 3px solid #cea04a;
}
.mode2-center,.mode2-right{
	    width: 375px;
    color: #555;
}
.mode2-list-detail{
	width: 100%;
	display: none;
	justify-content: space-between;
}
.mode2-list-detail div:nth-child(1){
	width: 150px;
	height: 90px;
}
.mode2-list-detail img{
	width: 100%;
	height: 100%;
}
.mode2-list-detail div:nth-child(2){
	    width: 215px;
    height: 66px;
    font-size: 12px;
    margin-left: 10px;
    line-height: 22px;
    text-overflow: ellipsis;
    color: #959494;
}
.mode2-list-detail a{
	display: inline-block;
	box-sizing: content-box;
	width: 60px !important;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 2px solid #cea04a;
    font-size: 12px !important;
    color: #cea04a !important;
    margin-left: 10px;
}
.mode3{
	display: flex;
	justify-content: space-between;
}
.mode3-left{
	width: 835px;
	position: relative;
}
.titile-list{
	    position: absolute;
    left: 0;
    top: 5px;
    display: flex;
}
.titile-list li{
	    width: 100px;
    font-size: 16px;
        
}
.titile-list li a{
    display: block;
    text-align: center;
}
.title-list-active a{
	    border-bottom: 3px solid #cea04a !important;
    color: #cea04a !important;
    font-weight: bold;
    
}
.hero-combat{
	display: flex;
	flex-flow: row wrap;
}
.hero-combat li{
	    position: relative;
    width: 155px;
    height: 176px;
    margin: 0 0 14px 15px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #e9e9e9;
} 
.hero-combat li img{
	width: 100%;
}
.rank-img{
	    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 5px;
}
.rank{
	   position: absolute;
    width: 26px;
    height: 26px;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    background-color: #a5a5a5;
    line-height: 26px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 0px 2px #a5a5a5, inset 0 0 1px 1px #fff;
}
.hero-combat li:nth-child(5n+1){
	margin-left: 0;
}
.hero-combat li p{
	box-sizing: content-box;
	position: absolute;
    width: 145px;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 0;
    padding: 0 5px;
    color: rgb(255,255,255);
    text-align: left;
    font-family: 'dinbold','寰蒋闆呴粦';
    background: rgba(0,0,0,0.8);
    white-space: nowrap;
}
.hero-combat li p span{
	    font-size: 14px;
    font-style: normal;
    position: absolute;
    right: 5px;
}
.hero-combat li p span b{
	font-size: 14px;
    color: #ffc65c;
}
.mode3-right{
	width: 375px;
	position: relative;
}
.mode3-right .titile-list{
    left: 75px;
}
.mode3-right .titile-list li{
	width: 60px;
	font-size: 14px;
}
.mode3-right .titile-list li a{
	 color: #666 !important;
    text-align: center;
    display: block;
}
.mode3-right .titile-list li a:hover{
	  border-bottom: 3px solid #cea04a;
    color: #cea04a !important;
}
.direction-list{
	width: 100%;
	display: flex;
}
.direction-list li{
	width: 50%;
}
.direction-list li a{
	 width: 100%;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    color: #666;
		font-size: 16px;
}
.ranking-win-list{
	display: flex;
	    height: 40px;
    line-height: 40px;
    background: #ececec;
    color: #868686;
    text-align: center;
    font-weight: bold;
    padding-left: 0;
    margin: 0;
}
.ranking-win-list li{
	width: 50px;
	  height: 40px;
    line-height: 40px;
    overflow: hidden;
    float: left;
}
.ranking-win-list li:nth-child(2){
	width: 130px;
}
.ranking-win-list li:nth-child(3){
	width: 120px;
}
.ranking-win-list li:nth-child(4){
	width: 75px;
}
.win-list-content{
	height: 310px;
	overflow-y: auto;
}
.win-list-content ul li{
	    width: 375px;
	    display: flex;
    border-bottom: 1px solid #e2e4e5;
}
.win-list-content ul li em{
	display: inline-block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    background: #eee;
    color: #898989;
    margin: 5px 0 0 0;
    font-family: 'dinbold';
    font-size: 16px;
}
.win-list-content ul li div{
	display: flex;
	    width: 115px;
    margin-left: 15px;
}
.win-list-content ul li div a{
	display: inline-block;
}
.win-list-content ul li div a img{
	    margin: 7px 10px 0 0;
    width: 40px;
    height: 40px;
}
.win-list-content ul li div span{
	display: inline-block;
	    color: #a6a6a6;
    font-family: 'dinbold';
    font-size: 16px;
    line-height: 50px;
}
.win-list-content ul li p{
	    width: 125px;
    color: #a6a6a6;
    font-family: 'dinbold';
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.win-list-content ul li p span:nth-child(1){
	    color: #c49f58;
}
.win-list-content ul li i{
	display: block;
	    width: 65px;
    color: #a6a6a6;
    font-family: 'dinbold';
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.video-list{
	width: 100%;
	position: relative;
}
.video-list .titile-list{
    left: 100px;
}
.video-list .titile-list li{
	width: auto;
	margin-left: 20px;
}
.video-list .titile-list li a:hover{
	    border-bottom: 3px solid #cea04a !important;
    color: #cea04a !important;
    font-weight: bold;
}
.video-list-content{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.video-list-content  li{
	  width: 190px;
    color: #666;
    font-size: 14px;
    position: relative;
}
.video-list-content  li img{
	width: 190px;
	height: 110px;
}
.video-list-content  li p{
	    width: 100%;
    height: 40px;
    line-height: 20px;
    margin-bottom: 7px;
    overflow: hidden;
}
.video-list-content  li p a{
	color: #666;
}
.video-list-content  li div{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}
.video-list-content  li div span:nth-child(2){
	    position: absolute;
    top: 86px;
    right: 5px;
    color: #fff;
}
