
body,div,h1,h2,h3,h4,h5,h6,ul,li,dt,dd,p,button,input,span,a,strong,b{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body,html{
	height: 100%;
	background: #eaeaea;
}
.html5-video-container{
	height: 100%;
}
.page-header{
	    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    min-width: 1024px;
    background: #0097A7;
}
.swiper-content{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
}
.swiper-content .swiper-container1{
	 width: 100%;
	 height: 100%;
	
	 border: 1px solid #fff;
	 box-shadow: 0 0 8px 0 #FFF;
}
.swiper-container1 .swiper-slide{
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 0 10px;
	border-right: 1px solid #FFF;
}
.swiper-container1 .swiper-slide:nth-child(7){
		border-left: 1px solid white;
}
.swiper-button-next{
	background-size: 50% !important;
	right: 0 !important;
	height: 100%  !important;
	top: 0 !important;
	margin-top: 0 !important;
}
.swiper-button-prev{
	background-size: 50% !important;
	left: 0 !important;
	height: 100% !important;
	top: 0 !important;
	margin-top: 0 !important;
}
 .nav-active{
	color: white;
	border-bottom: 3px solid white;
}
.swiper-container1 .swiper-slide div:nth-child(2){
	margin-top: 30px;
	font-size: 18px;
}
.swiper-container1 .swiper-slide{
	padding: 30px 0;
}
.swiper-container1 .swiper-slide div img{
	    display: block;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.swiper-container1 .swiper-slide div span{
	    display: block;
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    overflow: hidden;
}

.navlist{
	max-width: 80%;
	margin: 0 auto;
    height: 74px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
}
.navlist h1{
	padding-top: 2px;
}
.navlist h1 a{
	  display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 70px;
    height: 70px;
}
.navlist nav a{
	    overflow: hidden;
    float: left;
    position: relative;
    height: 70px;
    margin-left: 38px;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
}
.navlist h1 a img{
	width: 100%;
	height: 100%;
}
.navlist nav a:hover{
	color: #d98500;
}
.bannerImg{
	position: relative;
}
.bannerBg{
	position: relative;
}
.page-seacher{
	width: 36%;
	height: 100px;
	position: absolute;
	top: 44%;
	left: 50%;
	margin-top: -50px;
	margin-left: -20%;
}
.page-seacher div{
position: relative;
height: 50%;
}
.page-seacher div:nth-child(1){
	font-size: 30px;
	color: white;
	text-align: center;
	font-style: italic;
	font-family: Anton;
}
.page-seacher input{
	background: white;
	border-radius: 2px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	box-shadow: 0 0 4px 0 rgba(226,234,239,.8);
	padding-left: 10px;
}
.page-seacher span{
	display: inline-block;
	width: 15%;
	height: 100%;
	margin-left: 5%;
	text-align: center;
	vertical-align: middle;
	background: #0097A7;
	color: white;
	line-height: 50px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	right: 0;
}
.icon-arrow-xl{
	display: block;
	color: #0097A7;
 width: 50px;
 height: 50px;
 border: 2px solid #0097A7;
 border-radius: 50%;
 margin: 20px auto 0;
 text-align: center;
 line-height: 50px;
}
.bannerBg img{
	width: 100%;
	height: 100%;
}
.page-imgLists{
	  position: absolute;
    left: 0;
    bottom: 16%;
    z-index: 2;
    width: 100%;
}
.page-imgList{
	  max-width: 1700px;
	  margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding: 29px 0 20px;
}
.page-imgList:before{
	    position: absolute;
    top: 0;
    right: 11px;
    left: 11px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    content: '';
}
.page-imgList li{
	    padding-left: 22px;
    width: 33.3%;
    padding: 0 11px;
}
.page-imgList li img{
	width: 100%;
}
.introduce-list{
	display: flex;
	    max-width: 1700px;
    margin: 0 auto;
    padding: 0 30px;
}
.introduce-left{
	    width: 66.2%;
}
.introduce-left>div{
	margin: 30px 0 10px;
}
.introduce-left h2{
	width: 233px;
    background-image: url(../img/main_title01.png);
        height: 33px;
    margin-bottom: 17px;
        overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 999px;
}
.introduce-left h2 a{
	display: block;
    height: 100%;
}
.introduce-imgList{
	display: flex;
	margin-left: -22px;
}
.introduce-imgList li{
	    padding-left: 22px;
    box-sizing: border-box;
    width: 50%;
}
.introduce-imgList li a{
	display: block;
}
.introduce-bigImg{
	    position: relative;
    font-size: 0;
    height: 255px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.introduce-bigImg img{
	width: 100%;
	height: 100%;
}
.introduce-bigImg:after{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/bg_main_news_cnt01.png);
    background-size: 100% auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
    content: '';
}
.introduce-detail{
	min-height: 79px;
    padding: 23px 30px 25px;
    background: #fff;
}

.introduce-detail h3{
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    line-height: 30px;
}
.introduce-imgList li a:hover h3{
	color: #d98500;
}
.introduce-detail p{
	    overflow: hidden;
    height: 40px;
    margin-top: 9px;
    font-size: 14px;
    color: #686868;
    line-height: 20px;
}
.introduce-right{
	margin-top: 30px;
	margin-left: 20px;
	width: 33.8%;
}
.introduce-right h2{
	width: 233px;
    background-image: url(../img/main_title01.png);
        height: 33px;
    margin-bottom: 17px;
        overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 999px;
}
.aside-list li a{
	display: table;
    position: relative;
    width: 100%;
    padding: 23px 22px 22px 22px;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    table-layout: fixed;
    display: flex;
}
.aside-bigIng{
	background: url(../img/notice_thumbnail_1519211103385.jpg);
	display: table-cell;
    width: 40%; 
    height: 124px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.aside-bigIng img{
	width: 100%;
	height: 100%;
}
.aside-detail{
	width: 60%;
	    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}
.aside-detail h3{
	    overflow: hidden;
    max-height: 40px;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    color: #333;
}
.aside-detail p{
	overflow: hidden;
text-overflow: ellipsis;
	   display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
    margin-top: 11px;
    font-size: 12px;
    color: #686868;
    line-height: 18px;
}
.aside-list li a:hover{
	background: #d98500;
}
.aside-list li a:hover h3{
	color: white;
}
.aside-list li a:hover p{
	color: white;
}
.fade-list{
	max-width: 1920px;
    max-height: 956px;
    margin: 0 auto;
    background: url(../img/bg_featured_main.jpg) no-repeat 50%;
    background-size: 100%;
}
.fade-list .swiper-detail{
	width: 100%;
	height: 100%;
}
.fade-lis .swiper-wrapper{
	width: 100%;
}
.fade-list .swiper-slide{
	display: flex;
	position: relative;
}
.fade-list .swiper-slide img{
	    display: inline-block;
    max-height: 100%;
    vertical-align: bottom;
}
.swiper-data{
	position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    padding: 165px 0 130px;
}
.swiper-data h1{
	word-break: break-word;
	font-size: 56px;
	font-weight: bolder;
}
.swiper-data h1:nth-child(1){
	margin-top: 20%;
}
.swiper-data p{
	color: white;
	margin: 10px 0;
}
.swiper-data a{
	    display: block;
    width: 200px;
    height: 14px;
    color: white;
}
.fade-list .swiper-pagination{
	bottom: 300px !important;
}
.fade-list .swiper-pagination .swiper-pagination-bullet:nth-child(1){
	margin-left: 300px !important;
}
.fade-list .swiper-pagination .swiper-pagination-bullet{
	background: white !important;
	border-radius: 0 !important;
	width: 26px !important;
	opacity: 1;
}
.fade-list .swiper-pagination .swiper-pagination-bullet-active{
	background: #d98500 !important;
	width: 50px !important;
}
.footer-form{
	  position: relative;
    padding-top: 200px;
}
.footer-input{
	    max-width: 1700px;
    margin: 0 auto;
    padding: 0 30px;
}
.footer-input h2{
	  display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: top;
    display: block;
    width: 250px;
    height: 40px;
}
.footer-input strong{
	    float: left;
    margin-right: 25px;
    font-size: 24px;
    color: #f19f00;
    letter-spacing: -0.025em;
}
.footer-input form{
	position: relative;
	top: -15px;
}
input{
	border: 0;
	background: none;
}
.footer-input span{
	display: inline-block;
    position: relative;
    height: 60px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    margin-right: 20px;
    vertical-align: middle;
}
.form-name{
	width: 20%;
}
.footer-input label{
	    position: absolute;
    top: 50%;
    left: 18px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 14px;
    color: #bebebe;
}
.form-email{
	width: 32%;
}
.footer-input button{
	    display: inline-block;
	    width: 13%;
    height: 60px;
    background: #d98500;
    color: white;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
footer{
	position: relative;
    padding: 40px 0 58px;
    background: black;
}
.footer-list{
	  max-width: 1700px;
	  
    margin: 0 auto;
    padding: 0 30px;
}
.footer-list div{
	    position: relative;
    height: 61px;
    margin-top: 45px;
    padding-left: 105px;
    color: #5e5e5e;
    line-height: 18px;
}
.footer-list div:after{
	display: inline-block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    background: url(../img/sp.png) no-repeat;
    line-height: 999px;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 61px;
    background-position: -404px -94px;
    content: '';
}
.footer-list div p{
	color: #5e5e5e;
	font-size: 12px;
}
.aList{
	display: flex;
	margin-top: 10px;
}
.aList a{
	display: inline-block;
    position: relative;
    padding: 0 11px 0 15px;
    font-weight: bold;
    color: #5e5e5e;
}
.aList a:nth-child(1){
	margin-left: -15px;
}
.aList a:before{
	    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background: #3b3b3b;
    content: '';
}
.aList a:hover{
	text-decoration: underline;
	color: #b5b4b4;
}
