.page-headers{
	background: white;
}
.page-header{
	height: 310px;
	background: url(../img/visual_news.png) center 50px;
	position: relative;
}
.detail-section{
	    margin-bottom: 80px;
    padding: 62px 0 100px;
    background: #fff;
}
.section-content{
	    max-width: 1280px;    
	    margin: 0 auto;
    padding: 0 30px;
}
.detail-title {
	display: block;
  margin-bottom: 25px;
  padding: 0;
}
.detail-title h3{
	    max-height: 68px;
    font-size: 30px;
}
.detail-title p{
	  display: inline-block;
    font-size: 16px;
    color: #000;
    vertical-align: middle;
}
.detail-img img{
	width: 100%;
}
.detail-content{
	    padding: 47px 46px 30px;
	    border-bottom: 1px solid #e5e5e5
}
.detail-button{
	margin-top: 37px;
	display: flex;
	justify-content: space-between;
}
.detail-button-left{
	display: flex;
}
.detail-button-left button{
	    width: 88px;
    height: 60px;
    background: #d98500;
    border: 0;
    color: white;
    font-size: 20px;
}
.detail-button-left div{
	    overflow: hidden;
    padding: 11px 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}
.detail-button-left div b{
	    color: #d98500;
	    display: block;
}
.detail-button-left div strong{
	    color: #999;
}
.detail-button-right div{
	text-align: right;
}
.detail-lists{
	    max-width: 1700px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.detail-lists li{
	width: 33.3%;
	padding-left: 22px;
}
.detail-list-img{
	position: relative;
}
.detail-list-img:after{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/bg_main_news_cnt01.png);
    background-size: 100% auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
    content: '';
}
.detail-list-img img{
	width: 100%;
	height: auto;
}
.detail-list-name{
	    padding: 24px 25px 16px;
	    background: white;
}
.detail-list-name b{
	box-sizing: content-box;
	display: inline-block;
    margin-bottom: 6px;
    padding: 5px;
    background: #d98500;
   color: white;
}
.detail-list-name h3{
	font-size: 20px;
	color: #000;
}
.footer-form{
	background: white;
	padding-top: 50px;
	margin-top: 50px;
}
