.swiper-list{
	    background-color: #0e1420;
    height: 300px;
    transition-duration: .3s;
}
.swiper-list .swiper-container{
	    width: 1200px;
    position: absolute;
    left: calc((100% - 1200px) / 2);
    margin: 0 auto;
    height: 300px;
    padding-top: 20px;
}
.swiper-list .swiper-container .swiper-slide img{
	width: 608px;
	height: 250px;
}
.room-list{
	    width: 1200px;
    margin: 0 auto;
}
.room-header{
	    margin-top: 45px;
	    display: flex;
	    justify-content: space-between;
}
.room-header>div{
    background: #fff;
    border: 1px solid #e7edf1;
    box-shadow: 0 1px 4px 0 rgba(5,17,25,.06);
    border-radius: 2px;
    height: 140px;
}
.found-room{
	width: 255px;
	display: flex;
	position: relative;
}
.room-every-list{
	    width: 565px;
	        padding: 18px 31.5px;
}
.room-sum{
	width: 350px;
}
.selectRange{
	    height: 18px;
}
.selectRanges{
	    width: 100%;
    padding: 9px;
}
.selectRange-bar{
	    height: 6px;
    background-color: rgb(231, 237, 241);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px 0px inset;
    border-radius: 8px;
    position: relative;
}
.selectRange-button{
	position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
    transition: all 0s;
    will-change: transform;
    cursor: pointer;
    z-index: 3;
        width: 18px;
    height: 18px;
    top: -6px;
}
.button-left{
	left: 0;
}
.button-right{
right: 0;
}
.selectRange-button:before,.selectRange-button:after{
	content: "";
    background: #e7edf1;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.1);
    border-radius: 5px;
    position: absolute;
    width: 2px;
    height: 8px;
    display: block;
    top: 5px;
}
.selectRange-button:before{
	left: 6px;
}
.selectRange-button:after{
	right: 6px;
}
.selectRange-blue{
	    position: absolute;
    border-radius: 15px;
       background-color: rgb(12, 157, 252);
    transition-duration: 0s;
    width: 100%;
    left: 0px;
    height: 100%;
}
.found-room>div{
	  width: 50%;
	  padding-top: 35px;
	   text-align: center;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition-duration: .3s;
}
.found-room:before{
	content: "";
    display: block;
    left: 49.5%;
    top: 20px;
    bottom: 20px;
    width: 1px;
    height: 100px;
    background-color: #e7edf1;
    position: absolute;
}
.found-room>div a{
	display: block;
	color: #373a41;
}
.found-room>div a img{
	    height: 29px;
    width: auto;
}
.found-room>div a div{
	       font-size: 12px;
    color: #a5a8b2;
    height: 16px;
    line-height: 16px;
}
.found-room .room-popular{
       color: #6f41bf;
        margin-top: 8px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
}
.found-room .room-blue{
	color: #0ea4fc;
	 margin-top: 8px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
}
.button{
    position: absolute;
    width: 140px;
    left: 235px;
    top: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    background-color: #fff;
    border-right: 1px solid #e7edf1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 2px 1px 4px 0 rgba(5,17,25,.06);
    transition-duration: .3s;
    overflow: hidden;
    padding: 26px 0;
}
.found-room .button a{
	    width: 100px;
    padding: 0;
    color: #1ac6fd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    line-height: 34px;
    background: #fff;
    border: 1px solid #1ac6fd;
    border-radius: 4px;
    transition-duration: .3s;
    position: relative;
    user-select: none;
}
.found-room .button a:hover{
	box-shadow: 0 0 4px 0 rgba(26,198,253,.5);
}
.found-room .button a{
	margin-bottom: 15px;
}

.every-list{
	display: flex;
	flex-flow: row wrap;
}
.every-list li{
	cursor: pointer;
    user-select: none;
    margin: 7.5px;
    font-size: 14px;
    text-align: center;
    color: #373a41;
    display: inline-block;
    width: 110px;
    height: 36px;
    line-height: 36px;
}
.every-list li a{
	color: #373a41;
	display: block;
	border: 1px solid #d4dae0;
    border-radius: 4px;
}
.every-list li a:hover{
	box-shadow: 0 2px 4px 0 rgba(109,109,109,.4);
	transition-duration: .3s;
}
.every-list .every-list-active a{
	    background: #0c9dfc;
    border: 1px solid #0497f8;
    box-shadow: 0 2px 4px 0 rgba(12,157,252,.4);
    color: #fff;
}

.room-sum{
	    width: 350px;
    height: 140px;
    float: right;
    padding: 20px 45px 0;
    position: relative;
    z-index: 5;
}
.room-sum>div{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	    font-size: 16px;
    line-height: 22px;
    font-family: TradeGothicLT-Bold;
    color: #0c9dfc;
}
.room-sum>div:nth-child(1){
	margin-bottom: 0;
	color: #a5a8b2;
	font-size: 12px;
}
.room-content{
	    margin-top: 15px;
}
.room-content-header{
	background: #fff;
    border: 1px solid #e7edf1;
    box-shadow: 0 1px 4px 0 rgba(5,17,25,.06);
    border-radius: 2px;
    padding: 0 25px 0 30px;
    height: 50px;
    line-height: 50px;
    display: flex;
}
.room-content-header div{
	    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.room-one{
	width: 140px;
	text-align: left !important;
}
.room-two{
	    width: 320px;
	    text-align: left !important;
}
.room-three{
	    width: 150px;
}
.room-four{
	    width: 100px;
}
.room-five{
	    width: 100px;
}
.room-six{
	    width: 110px;
}
.room-seven{
	    width: 130px;
}
.room-eight{
	    width: 90px;
}
.room-list-children{
	user-select: none;
    cursor: pointer;
    height: 100px;
    background: #fff;
    border: 1px solid #e7edf1;
    box-shadow: 0 1px 4px 0 rgba(5,17,25,.06);
    border-radius: 2px;
    position: relative;
    padding: 30px 25px 30px 30px;
    transition-duration: .3s;
    transform: scale(1);
        margin-top: 15px;
    display: flex;
}
.col{
	  height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
	color: rgba(55,58,65,.8);
}
.room-list-img{
	width: 140px;
	text-align: left;
}
.room-list-name{
	text-align: left;
	width: 320px;
}
.room-list-peopleNum{
	width: 150px;
	padding: 0 25px;
}
.room-list-range{
	width: 100px;
	line-height: 40px;
}
.room-list-num{
	width: 100px;
	
}
.room-list-number{
	user-select: none;
    cursor: pointer;
    width: 48px;
    height: 40px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #0497f8;
    box-shadow: 0 2px 4px 0 rgba(12,157,252,.4);
    border-radius: 2px;
    transition-duration: .3s;
}
.room-list-sum{
	width: 110px;
	line-height: 40px;
}
.room-list-time{
	width: 130px;
}
.room-list-money{
	width: 90px;
}
.room-list-money a span{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}
.right{
	vertical-align: middle;
	display: inline-block;
	transform: rotate(-90deg);
	font-size: 16px;
}
.room-list-img img{
	width: auto;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}
.room-list-img span{
	vertical-align: middle;
}
.room-list-name p:nth-child(2){
	    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    font-size: 12px;
    color: #0c9dfc;
}
.room-list-name p:nth-child(1) span:nth-child(1){
	    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    max-width: 236px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.room-list-name p:nth-child(1) span:nth-child(2){
	margin-left: 7px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background: #0c9dfc;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    background: #fa9b3c;
}
.room-list-peopleNum div{
	font-size: 14px;
}
.room-list-peopleNum .progress{
	height: 10px;
    line-height: 10px;
    margin-top: 6px;
    background: #e7edf1;
    border-radius: 8px;
    overflow: hidden;
}
.progress-width{
	    transition-duration: .5s;
    transition-delay: .3s;
    height: 10px;
    background: #0c9dfc;
    border-radius: 8px;
	width: 50%;
}
.room-list-rate{
	    height: 19px;
    line-height: 19px;
    font-family: TradeGothicLT;
    font-weight: 700;
    font-size: 13px;
    color: #19001d;
    text-align: center;
}
.room-list-rate span{
	    color: #0c9dfc;
}
.room-list-jia{
	    background: #0c9dfc;
    height: 19px;
    position: relative;
    cursor: pointer;
}
.room-list-jia:before{
	    width: 8px;
    height: 2px;
    top: 9px;
    left: 20px;
}
.room-list-jia:after{
	    width: 2px;
    height: 8px;
    top: 6px;
    left: 23px;
}
.room-list-jia:before{
	opacity: .75;
    content: "";
    position: absolute;
    background-color: #fff;
    display: block;
    z-index: 1;
    transition-duration: .3s;
}
.room-list-jia:after{
	    opacity: .75;
    content: "";
    position: absolute;
    background-color: #fff;
    display: block;
    z-index: 1;
    transition-duration: .3s;
}
.room-list-money a{
	display: inline-block;
    color: #fff;
    font-weight: 700;
    background-color: #0c9dfc;
    border: 1px solid #0497f8;
    border-radius: 4px;
    width: 86px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(12,157,252,.4);
}
