.game-statistics section{
	width: 100%;
	margin-top: 20px;
}
.game-section-img{
	margin: 0 auto;
	width: 728px;
	height: 90px;
}
.game-statistics-header{
	width: 970px;
	margin: 0 auto;
	margin-top: 30px;
}
.game-statistics-header ul{
	display: flex;
	border-bottom: 1px solid #d7dada;
	position: relative;
}
.game-statistics-header div{
	margin-top: 20px;
	 color: #4a4a4a;
    font-size: 14px;
}
.game-statistics-header ul li{
	display: inline-block;
    margin: 0 30px -1px 0;
    padding: 0;
    border-bottom: 1px solid #d7dada;
    vertical-align: middle;
}
.game-statistics-header ul li a{
	    display: block;
    color: #555e5e;
    font-size: 28px;
    line-height: 32px;
    text-decoration: none;
    letter-spacing: -1px;
    padding-bottom: 17px;
}
.game-statistics-header-active{
	border-bottom: 1px solid black !important;
}
.game-statistics-header-active a{
	font-weight: bolder;
}
.game-statistics-data{
	width: 970px;
	margin: 10px auto 0;
	
}
.game-statistics-data-content{
	    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
}
table{
	width: 100%;
	border-collapse: collapse;
  border-spacing: 0;
}
.game-statistics-data-content table thead{
	background: #f7f6f3;
}
.game-statistics-data-content table thead th{
	  border-bottom: 1px solid #d5d8d8;
    padding: 8px 0;
    color: #555e5e;
    text-align: left;
    font-weight: normal;
    text-indent: 20px;
    font-size: 14px;
}
.game-statistics-data-content table tbody td{
	    background-color: #ededed;
    border-right: 1px solid #d5d8d8;
    vertical-align: top
}
.game-statistics-data-content table tbody td>div{
	    height: 150px;
    padding: 12px 20px 0;
    margin: -1px;
    overflow-y: auto
}
.cellActive{
	    width: 140px;
    margin-bottom: 8px;
    white-space: nowrap;
    color: #879292;
}
.cellActive b{
	    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    width: 17px;
    height: 17px;
    margin: 0 8px 0 0;
    background: url(../img/bg-radio-off.png) no-repeat;
}
.cellActive span{
	display: inline-block;
    max-width: 115px;
    margin-left: -27px;
    padding-left: 27px;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Active{
	color: #1f8ecd;
}
.Active b{
	background: url(../img/bg-radio-on.png) !important;
}
.game-statistics-datalsit{
	margin-top: 10px;
	border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
}
.game-statistics-datalsit table thead{
	background: #f7f6f3;
}
.game-statistics-datalsit table thead th{
	    padding: 13px 0;
    border-bottom: 1px solid #d5d8d8;
    color: #555e5e;
    font-size: 13px;
    text-align: left;
    font-weight: normal
}
.first{
	text-align: center;
}
.game-statistics-datalsit table tbody td{
	height: 42px;
    border-bottom: 1px solid #d5d8d8;
    font-size: 12px;
    color: #555e5e
}
.datalist-name a{
	 color: #555e5e;
	 font-size: 13px;
	 font-weight: bold;
}
.datalist-background{
	background: url(../img/champion32.png);
	display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.per div{
    display: inline-block;
    max-width: 60%;
    height: 8px;
    
}
.winBg{
	background-color: #1f8ecd;
    border-color: #1a78ae;
}
.csBg{
	background-color: #2daf7f;
    border-color: #249069;
}
.goldBg{
	    background-color: #f6af2e;
    border-color: #d3962b;
}
.highchart-header{
    padding: 10px 15px;
    border-bottom: 1px solid #cdd2d2;
    color: #555e5e;
    font-size: 12px;
    font-weight: bold;
}
.game-statistics-data-content{
	margin-bottom: 10px;
}
.game-statistics-dataTwo{
	display: flex;
}
.game-statistics-dataTwo article{
	width: 640px;
}
.game-statistics-dataTwo aside{
	width: 320px;
	margin-left: 10px;
	color: #555e5e;
}
.title{
	font-size: 14px;
  padding: 11px 0 11px 20px
}
.game-statistics-aside-table thead th {
	height: 32px;
    background-color: #ededed;
    font-size: 13px !important;
    text-align: left !important;
    text-indent: 0 !important;
    font-weight: bold !important;
    padding: 0 !important;
}
.game-statistics-aside-table thead th:nth-child(1){
	padding-left: 10px !important;
}
.game-statistics-aside-table .asideCell{
	  height: 22px;
    border-bottom: 1px solid #ededed;
    background-color: #dde0e0;
    text-align: left;
    font-size: 11px;
    vertical-align: middle !important;
    border-right: none !important;
}
.game-statistics-aside-table .ascell{
	 background-color: #fa576f;
}
.towCell{
	padding-left: 10px;
}
.game-statistics-aside-table tfoot td{
	padding: 20px 16px 16px;
    color: #879292;
    font-size: 11px;
    line-height: 1.4;
    text-align: center;
}
.game-statistics-aside-table .tfCell{
	padding: 0 16px 16px 0;
    font-size: 12px;
    text-align: right;
    color: #555e5e;
}
.highchartColumnar p{
	    color: #657070;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 12px;
}
