body,html{
	height: 100%;
	background: #eaeaea;
	font-family: Helvetica, Arial, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 华文细黑, sans-serif;
	font-size: 12px;
}
body,div,h1,h2,h3,h4,h5,h6,ul,li,dt,dd,p,button,input,span,a,strong,b{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Poppins;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
table{
	width: 100%;
	  table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
::-webkit-scrollbar-corner {
    width: 6px;
    height: 6px;
    background: #b2b2b2;
}
::-webkit-scrollbar {
    width: 6px;
    height: 0;
    border: 3px solid #fff;
}
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
}
.webBottom{
	background: white;
	margin-bottom: .4rem;
}
.webTable{
	padding: 0 4% 10px;
}
.game-detail-header-right{
	width: 100%;
}
.game-detail-right-list{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.game-detail-right-list li{
	display: table-cell;
    background-color: #eaeaea;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
     font-weight: normal;
}
.game-detail-right-list .game-detail-right-active{
	background-color: white;
  border-color: #f2f2f2;
  color: #333;
}
.game-detail-right-table{
	margin-top: 20px;
	padding: 3%;
}
.game-detail-right-table table td img{
	width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 12px;
  border-radius: 16px;
}
.game-detail-Builds tr{
	border-top: 1px solid #e6e6e6;
}
.game-detail-Builds tr:nth-child(1){
	border-top: none;
}
.game-detail-right-table table td{
	text-align: center;
	height: 40px;
	font-size: 13px;
}
.game-detail-right-table table td:nth-of-type(1){
	text-align: left;
}
.game-detail-right-table table td:nth-of-type(2){
	color: #9c9c9c;
	font-size: 12px;
}
.game-detail-right-table table:nth-child(2){
	display: none;
}
.game-detail-right-table thead th{
	height: 40px;
    font-size: 12px;
    text-align: center;
    color: #999;
    font-weight: normal;
}
.high{
	padding-top: 10px;
	width: 100%;
	height: 240px;
	display: none;
}
.high:nth-child(1){
	display: block;
}

.game-detail-content-table table tbody td {
	text-align: center;
}
.game-detail-content-table table tbody td:nth-of-type(1){
	text-align: left;
	padding: 10px 0;
}
.game-detail-content-table table tbody td ul{
	display: flex;
}
.game-detail-content-table table tbody td ul li{
	margin-right: 20px;
	display: flex;
	position: relative;
	color: white;
}
/*.sumTable thead{
	 border-top: 1px solid #e6e6e6
}
.sumTable thead:nth-of-type(1){
	border-top:none;
}*/
.game-detail-content-table thead th{
	height: 40px;
    font-size: 12px;
    text-align: center;
    color: #999;
    font-weight: normal;
}
.game-detail-content-table thead th:nth-child(1){
	    font-size: 14px;
    text-align: left;
    color: #333;
}
.game-detail-content-table tr td{
	text-align: center;
	font-size: 14px;
}
.game-detail-content-table .game-detail-Builds tr td ul li{
	margin-right: 0;
	display: flex;
	position: relative;
	color: white;
}

.game-detail-Builds td ul li span{
	display: block;
	width: 10px;
	height: 100%;
	line-height: 40px !important;
	margin: 0 10px;
}

.game-detail-content-table td span{
	color: #999;
	font-size: 12px;
}
.game-detail-content-tabletd p{
	color: #333;
	
}
.game-detail-shoes{
	display: flex;
}
.game-detail-shoesName{
	font-size: 14px !important;
  color: #666 !important;
  margin-top: 0 !important;
  line-height: 40px !important;
  margin-left: 10px;
  vertical-align: middle;
}
.sumTable table{
	border-top: 1px solid #e6e6e6;
}
.sumTable table:nth-child(1){
	border-top: none;
}
.game-detail-table3-title{
	display: flex;
	padding: 11px 12px;
	border: solid 1px #e9eff4;
	width: 90%;
	margin: 0 auto;
}
.game-detail-table3-titles{
	  margin: 10px auto 10px;
    white-space: nowrap;
}
.game-detail-table3-title div{
	color: #777;
	font-size: 14px;
	margin-left: 8px;
}
.game-detail-table-three .game-detail-table3-title div b{
	font-weight: bold;
	color: black;
	margin-left: 10px;
}
.game-detail-table3-win{
	display: flex;
}
.game-detail-table3-img img{
	  display: inline-block;
    border-radius: 50%;
    vertical-align: bottom;
}
.game-detail-table3-img img:nth-child(2){
	  background: #000;
    margin-bottom: -1px;
    margin-left: -11px;
    width: 42px;
    height: 42px;
}
.game-detail-table3-img img:nth-child(1){
	width: 26px;
	height: 26px;
}
.game-detail-table3-img img:nth-child(3){
	margin-left: 10px;
	width: 32px;
	height: 32px;
}
.game-detail-table-three .game-detail-table3-title span{
	margin-top: 0;
	margin-left: 10px;
}
.game-detail-table-three .game-detail-table3-title span:nth-child(1){
	margin-left: 0;
}
.game-detail-table3-active{
	    position: relative;
    background-color: #e7f2ff;
    border-color: #4da1ff;
}
.game-detail-table3-content{
	display: flex;
}
.game-detail-table3-imgList{
	  display: inline-block;
    vertical-align: bottom;
    width: 50%;
    box-sizing: border-box;
    padding: 0 3%;
}
.game-detail-table3-imgList:nth-child(1){
	border-right: 1px solid #d2d2d2;
}
.game-detail-Img {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.game-detail-imgActive{
	display: inline-block;
	position: relative;
	width: 23%;
	height: 40px;
	text-align: center;
	padding: 4px 0;
}
.game-detail-bigImg{
	margin: 0 1px;
}
.game-detail-smallImg{
	width: 33.3%;
	height: 42px;
}
.game-detail-imgActive img{
	margin: 0 auto;
	width: 32px;
	height: 32px;
}
.game-detail-bigImg{
	padding: 0;
}
.game-detail-bigImg img{
	width: 100%;
	height: 100%;
	background: #ddd;
	border-radius: 50%;
}
.game-detail-bigImg .game-detail-bigImgActive{
	background: black;
}
.game-detail-smallImg img:nth-child(2){
	margin: 0 10px;
}
.game-detail-opcity{

}
.opcity{
	width: 82%;
	height: 82%;
	position: absolute;
	top: 3px;
	left: 3px;
		background: rgba(72,71,69,.5);
		border-radius: 50%;
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;
}
.game-detail-header-img{
	text-align: center;
}
.StatsWrap{
	    margin: 11px 16px 0;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
    display: flex;
}
.textIndext{
	text-indent: 24px;
}
.StatsWrap div{
    width: 50%;
    font-size: 14px;
    text-align: center;
    color: #333;
}
.borderTop .game-detail-tbody tr{
	border-top: 1px solid #eaeaea;
	margin-top: 10px;
}
.borderTop .game-detail-tbody2 tr{
	border-top: 1px solid #eaeaea;
	margin-top: 10px;
}