/* daohang CSS  */

.navigation,.navigation .nav-title,.navigation .nav-title:hover i,.navigation .selected,.navigation .selected i,.navigation-shadow {
	background: url(../img/nav_bg.png) no-repeat -9999px -9999px transparent;
}

.navigation {
	height:39px;
	text-align:center;
    background-position:0 -111px;
	background-repeat:repeat-x;

	position:relative;
	z-index:500;
}
.navigation .nav-box {
	width:950px;
	margin:0 auto;
	position:relative;
	z-index:510;
}
.navigation ul {
	position:relative;
	z-index:600;
}
.navigation li {
	height:39px;
	float:left;
	z-index:10;
}

.floatleft {
	float:left!important;
}

.navigation .floatleft .news{background: url(../images/public/title_bg_news.jpg) repeat-x; background-position:top!important;}

.navigation .floatleft .nav-title {
	height:39px;*height:36px;
	display:inline-block;
	padding:0 15px;
	color:#FFF;    background-position:-340px 2px;

     
	position:relative;
	z-index:10;

}

.nav-title-sytb{z-index:1000; position:absolute; margin-left:10px; background:url(../images/public/sy_tb.gif) no-repeat; height:39px; width:20px; float:left; margin-top:1px;}

.navigation .floatleft .nav-title-fy{
	height:39px;
	display:inline-block;
	padding:0 3px;*padding:0 8px;
	color:#FFF; padding-top:1px;*margin-top:-1px; margin-left:4px;margin-right:4px; text-align:center;*margin-left:0px;*margin-right:0px; 
     
	z-index:10;
	font-weight:normal;
	font-size:12px;
	line-height:39px;
}
.nav_bg_line
{ background:url(../images/public/nav_bg_line.gif) no-repeat; width:1px;}





}

.nav-title-fy:link,.nav-title-fy:visited{
	text-decoration:none;
}

.nav-title-fy:hover,.nav-title-fy:hover span {
	text-decoration:none;
}


.navigation .nav-title.nav-first {
	/*background-position:-9999px -9999px!important;*/
	background:none;
	
}






.nav-title:link,.nav-title:visited{
	text-decoration:none;
}




.navigation .nav-title.selected,.navigation .n-hover .nav-title {
 background:url(../images/public/title_bg.png) repeat-x ; 
	z-index:30!important;
}
.navigation .nav-title.selectsed{
 background:url(../images/public/title_bg_hover.jpg) repeat-x ; 
	z-index:30!important;
}
.navigation .nav-title.selected {
	
	height:39px!important;
	text-decoration:none!important; 
}
.navigation .nav-title.selected span {
	cursor:pointer;
	text-decoration:none!important;
}



.navigation .nav-title-fy .selected_s {
	 
	z-index:20;
    background:url(../images/public/title_bg_d.png); text-align:center;
	*background:url(../images/public/title_bg_d_s.png); text-align:center;

}




.navigation .nav-title-fy.selected_s,.nav-title-fy .n-hover .nav-title-fy {
	background:url(../images/public/title_bg_d.png);*background:url(../images/public/title_bg_d_s.png); text-align:center;
	text-align:center;
	z-index:30!important;
}
.navigation .nav-title-fy.selected_s{
	
	text-align:center;
	height:39px!important;
	text-decoration:none!important;
}
.navigation .nav-title-fy.selected_s span {
	cursor:pointer;
	text-decoration:none!important;
	text-align:center;
}
.navigation .nav-title-fy.selected_s span,.navigation .n-hover dt .nav-title-fy span {
	padding-top:10px;
}






.navigation .nav-title span {
	height:39px;
	font-size:14px;
	cursor:pointer;
	height:18px;
	line-height:18px;
	line-height:18px\10;
	*line-height:18px;
	_line-height:17px;
	padding-top:10px;

	display:inline-block;
}


.navigation .nav-title-sj{margin-left:-3px;*margin-left:0px;}

.floatright {
	float:right!important;
}

.navigation .floatright .nav-title2 {
	height:39px;
	line-height:39px;
	display:inline-block; 
	padding:0 7px;
	color:#FFF; 
	position:relative;
	z-index:10;
	text-decoration:none;
	
}

.navigation .nav-title2.selected_s2 {
	
	background:url(../images/title_bg_d_s.png) repeat-x ; 
	height:39px!important;
	text-decoration:none!important;
}
.navigation .nav-title2.selected_s2 span {
	cursor:pointer;
	text-decoration:none!important; 
}