/* CSS Document chyingh */
body,div,ul,ol,li,form,input,textarea,p{margin:0;padding:0;}
body{background:#FFF;color:#515151;font:12px/1.5 'lucida grande',tahoma,arial,'bitstream vera sans',helvetica,sans-serif;font-size:12px;}
html{overflow-y:scroll !important;overflow-x:hidden;*overflow-y:hidden;*overflow:hidden;_overflow-y:scroll;}
html{overflow-y:scroll !important;*overflow-y:hidden;_overflow-y:scroll;}
*html{
background-image:url(about:blank);
background-attachment:fixed;
}
dl,dt,dd,ul,li,p,h1,img,form {

	list-style:none;
	border:none;
	
}
ul {
	list-style-type:none
}



li{list-style:none;}
img{border:0 none;}
a,area{blr:expression(this.onFocus=this.blur())} 
:focus{-moz-outline-style:none;}



/* 红包弹窗 */
.hb_tc{width:100%; height:100%; position:fixed;top:0;left:0; z-index: 10000;}
.hb_tc .tc{width: 100%;height: 100%;background: #000;position: fixed;left: 0;top: 0;z-index: 9990;filter: alpha(opacity=70);-moz-opacity: .7;-khtml-opacity: .7;opacity: .7;}
.hb_tc .hb_tc_nei{ height: 100%;top: 50%;left: 50%;margin:-371px 0 0  -356px;width:712px;position: absolute;z-index: 10000;}
#parallax{overflow:hidden;width:100%;height:750px;}
#parallax img{ margin: 0 auto; display: block;}
#parallax .open {  display: block;  width: 712px; height: 748px;margin: 0 auto;  }
#parallax .close {  display: block;  width: 38px;  height: 38px;  background: url("../images/close.png") no-repeat 0 0;  position: absolute;  top: 192px;  right:80px;  }
#parallax .qq-btn {  display: block;  width: 236px;  height: 77px;  background: url("../images/tc_qq_btn.png") no-repeat 0 0;  margin: -236px 0 40px 272px;  position: relative;  }
#parallax .qq-btn:hover {  background: url("../images/tc_qq_btn.png") no-repeat 0px -77px;  }
#parallax .open_t{ display: none;}
#parallax .close_t a{ cursor: pointer;}

/* 双十一倒计时弹窗 */
.hb_tc_ssy{width:100%; height:100%; position:fixed;top:0;left:0; z-index: 10000;}
.hb_tc_ssy .tc{width: 100%;height: 100%;background: #040714;position: fixed;left: 0;top: 0;z-index: 9990;filter: alpha(opacity=80);-moz-opacity: .8;-khtml-opacity: .8;opacity: .8;}
.hb_tc_ssy .hb_tc_nei{ height: 679px;top: 54%;left: 50%;margin:-371px 0 0 -581px;width:1116px;position: absolute;z-index: 10000;}
#parallaxs{overflow:hidden;width:100%;height:679px;}
#parallaxs img{ margin: 0 auto; display: block;}
#parallaxs .open {  display: block;  width: 1116px; height: 679px;margin: 0 auto;  }
#parallaxs .close { cursor: pointer;display: block;  width: 38px;  height: 38px;  background: url("../images/close.png") no-repeat 0 0;  position: absolute;  top: 116px;  right:242px;  }
#parallaxs .hb_tc_know{ width: 161px; height: 43px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fff044; display: block; font-size: 16px; color: #2b2b2b; text-align: center; line-height: 43px;position: absolute; cursor:pointer;top: 428px;  right: 463px;}
#parallaxs .hb_tc_know:hover{ background: #fae606;}