body {
	background-color: #fff
}

.account-label {
	padding-top: 10px
}

.arrow-splitter {
	background: url(groupon-social-arrow-0d59672edc.png) no-repeat center 50px;
	height: 110px;
	margin-bottom: 15px
}

.facebook-account-info {
	background: #fff;
	height: 110px;
	padding-top: 20px
}

.facebook-account-info .facebook-thumbnail {
	padding-bottom: 3px;
	padding-top: 5px
}

.facebook-account-info .not-you-text {
	font-size: 11px
}

.facebook-logo,
.groupon-logo {
	height: 110px
}

.facebook-logo {
	background: url(groupon-social-facebook_logo-779c967a5a.png) no-repeat 50%
}

.groupon-logo {
	background: url(groupon-social-logo_bw-5e0c4feeea.png) no-repeat 50%
}

.loading-wheel {
	background: url(groupon-social-loading-spinner-ac60185d0a.gif) no-repeat 50%
}

.fb-reauth button {
	display: block;
	margin: 0 auto 10px
}

#groupon-social-modal .loading-wheel {
	height: 100px
}

#groupon-social-modal .modal-body {
	max-width: 660px;
	width: 100%
}

#groupon-social-modal .modal-footer {
	padding-bottom: 4px
}

#login-dialog-with-form .login-form-bottom {
	margin-bottom: 10px;
	min-height: 18px;
	text-align: center
}

#login-dialog-with-form .no-padding-left {
	padding-left: 0
}

#login-dialog-with-form #email,
#login-dialog-with-form #password {
	height: 31px
}

#login-dialog-with-form #sign_in_button {
	width: 100%;
	margin: 10px 0 24px
}

#reconnect-button {
	margin-bottom: 20px
}

@media screen and (max-width:660px) {
	.fb-connect-new-account .five.centered {
		width: 100%
	}
	#groupon-social-modal .arrow-splitter {
		background: url(groupon-social-arrow-vertical-b7db49f266.png) no-repeat center 110px;
		height: auto
	}
	#groupon-social-modal .arrow-splitter>.six {
		clear: both;
		margin-bottom: 40px;
		width: 100%
	}
	#groupon-social-modal .arrow-splitter>.six+.six {
		margin-bottom: 0
	}
	#groupon-social-modal .fb-connect-benefit-info .arrow-splitter {
		background-position: center 100px
	}
	#groupon-social-modal .fb-connect-existing-account-link .arrow-splitter {
		background-position: center 170px
	}
	#login-dialog-with-form h5+.row .columns {
		width: 100%
	}
	#login-dialog-with-form .login-form-bottom {
		margin-left: 0;
		margin-top: 10px;
		width: 100%
	}
	#login-dialog-with-form .no-padding-left {
		padding-left: 10px
	}
	#login-dialog-with-form #sign_in_button {
		margin: 0
	}
}

.field {
	margin-bottom: 10px;
	overflow: auto
}

.field label {
	font-weight: 600;
	padding-top: 6px;
	margin: 0
}

.field select {
	width: 100%;
	margin: 10px 0 0
}

.field .label-small {
	line-height: 1;
	padding: 10px 0 0
}

.field.field-offset label {
	font-weight: 400;
	margin-bottom: 20px;
	padding-top: 0
}

.field.gig-field label {
	width: 20%;
	
}

.field-input {
	display: block !important;
	width: 70%;
	line-height: 56px;
}

.login .session-form .field .split-field,
.signup .session-form .field .split-field {
	padding: 0
}

.login .session-form .field .split-field input,
.signup .session-form .field .split-field input {
	width: 100%
}

.session-form .field .field-input {
	margin-bottom: 0
}

#field-forgot-password {
	font-size: 10px;
	margin: 10px 0 0
}

#field-forgot-password label {
	margin-bottom: 0
}

.signin-btn,
.signup-btn {
	width: 100%
}

#field-password-input {
	overflow: inherit;
	width: 100%
}

#field-password-toggle {
	display: none
}

#field-remember-me-checkbox .optional-field {
	display: none
}

.row fieldset .row {
	margin: 0
}

.ltr .field .label-small {
	padding-right: 10px
}

.ltr .session-form .field input {
	margin-right: 0
}

.ltr .session-form .field .split-field:last-child {
	padding-left: 10px
}

.ltr #field-forgot-password {
	float: right
}

.rtl .field .label-small {
	padding-left: 10px
}

.rtl .session-form .field input {
	margin-left: 0
}

.rtl .session-form .field .split-field:last-child {
	padding-right: 10px
}

.rtl #field-forgot-password {
	float: left
}

.rtl #field-password-input label {
	float: right
}

#field-email-input .tooltip-trigger {
	color: #0093ea;
	padding: 0 0 0 5px
}

#tooltip-disclaimer {
	font-size: 10px;
	padding: 12px 10px;
	width: 178px
}

.ltr.login .row.two-forms .groupon-login {
	padding: 0 40px 0 0
}

.ltr.signup .row.two-forms .groupon-login {
	float: right;
	padding: 0 0 0 40px
}

.rtl.login .row.two-forms .groupon-login {
	padding: 0 0 0 40px
}

.rtl.signup .row.two-forms .groupon-login {
	float: left;
	padding: 0 40px 0 0
}

.g-recaptcha {
	min-height: 80px;
	margin-bottom: 11px
}

.guest-checkout-continue {
	margin-top: 12px
}

.guest-checkout-pencil {
	padding: 0
}

.wrapperMPA {
	width: 820px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #d5d8db;
	height: 56px;
	border-radius: 2px
}

.addressMP {
	font-size: 14px;
	text-align: left;
	line-height: 1.2;
	height: 19px;
	width: 750px;
	color: #333;
	display: inline-block;
	padding-left: 10px;
	text-overflow: ellipsis;
	margin-top: 20px;
	vertical-align: middle
}

.addyIcon {
	margin-left: 16px;
	height: 25px;
	object-fit: contain;
	display: inline-block;
	font-size: 25px;
	vertical-align: middle
}

.iconType {
	text-transform: capitalize;
	color: #000
}

.groupon-signup .errors {
	color: #ba0c2f
}

.ltr.login .row.two-forms .groupon-signup {
	float: right;
	padding: 0 0 0 40px
}

.ltr.signup .row.two-forms .groupon-signup {
	padding: 0 40px 0 0
}

.rtl.login .row.two-forms .groupon-signup {
	float: left;
	padding: 0 40px 0 0
}

.rtl.signup .row.two-forms .groupon-signup {
	padding: 0 0 0 40px
}

.login-iframe {
	margin: 0 auto;
	max-width: 265px;
	min-width: 0
}

.login-iframe #field-forgot-password,
.login-iframe .login-only {
	display: block
}

.login-iframe #field-city-input,
.login-iframe #field-city-postal,
.login-iframe #field-first-name-input,
.login-iframe #field-full-name-input,
.login-iframe #field-gender-select,
.login-iframe #field-international-agreement-checkbox,
.login-iframe #field-last-name-input,
.login-iframe #field-newsletter-checkbox,
.login-iframe #field-password-confirmation-input,
.login-iframe #field-personal-identifier-input,
.login-iframe #field-phone-number-input,
.login-iframe #field-street-address,
.login-iframe #field-street-number,
.login-iframe #field-terms-checkbox,
.login-iframe .signup-only {
	display: none
}

.login-iframe .iframe-signup #field-forgot-password,
.login-iframe .iframe-signup .login-only {
	display: none
}

.login-iframe .iframe-signup #field-city-input,
.login-iframe .iframe-signup #field-city-postal,
.login-iframe .iframe-signup #field-first-name-input,
.login-iframe .iframe-signup #field-full-name-input,
.login-iframe .iframe-signup #field-gender-select,
.login-iframe .iframe-signup #field-international-agreement-checkbox,
.login-iframe .iframe-signup #field-last-name-input,
.login-iframe .iframe-signup #field-newsletter-checkbox,
.login-iframe .iframe-signup #field-password-confirmation-input,
.login-iframe .iframe-signup #field-personal-identifier-input,
.login-iframe .iframe-signup #field-phone-number-input,
.login-iframe .iframe-signup #field-street-address,
.login-iframe .iframe-signup #field-street-number,
.login-iframe .iframe-signup #field-terms-checkbox,
.login-iframe .iframe-signup .signup-only {
	display: block
}

.login-iframe .field.field-offset label,
.login-iframe label {
	font-weight: 300
}

.login-iframe .btn-cta {
	width: 100%
}

.login-iframe .field select {
	margin-bottom: 0
}

.login-iframe .field-with-icon {
	background: #fff;
	border: 1px solid #d8d8d8;
	display: table;
	margin: 0;
	padding: 5px 8px;
	width: 100%
}

.login-iframe .field-with-icon .field-icon {
	color: #bbb;
	display: table-cell;
	height: 19px;
	padding-left: 0;
	width: 30px
}

.login-iframe .field-with-icon .field-icon:before {
	display: block;
	font-size: 16px;
	height: 19px;
	line-height: 22px;
	padding-bottom: 4px
}

.login-iframe .field-with-icon .field-input {
	background: none;
	border: none;
	display: table-cell;
	vertical-align: middle !important;
	margin: 0;
	padding: 0;
	width: 100%
}

.login-iframe .field-with-icon .field-input .blue .field-input,
.login-iframe .field-with-icon .field-input:focus {
	box-shadow: none
}

.login-iframe>.row {
	width: 100%
}

.login-iframe .loader {
	background: hsla(0, 0%, 100%, .5);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1
}

.login-iframe .loader .icon-g-loader {
	left: 50%;
	margin-left: -1.0667em;
	margin-top: -1.0667em;
	position: absolute;
	top: 50%
}

.login-iframe .loading .loader {
	display: block
}

.login-iframe .section-title .text-right {
	color: #949494;
	padding-right: 0;
	padding-top: 13px
}

.login-iframe .section-title .title {
	font-size: 24px
}

.login-iframe .section-title p {
	margin-bottom: 0;
	padding-left: 0
}

.login-iframe .split-field {
	background: #fff;
	border: 1px solid #d8d8d8;
	display: table;
	margin: 0;
	padding: 5px 8px;
	width: 100%;
	margin-bottom: 5px
}

.login-iframe .split-field .field-input {
	background: none;
	border: none;
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 100%
}

.login-iframe .split-field .field-input:focus {
	box-shadow: none
}

.login-iframe #field-forgot-password {
	margin-bottom: 10px;
	margin-top: -10px
}

.login-iframe #field-password-toggle {
	margin-top: -10px;
	text-transform: capitalize
}

.login-iframe #field-password-toggle label {
	font-weight: 300
}

.login-iframe #groupon-social-modal {
	background: #fff;
	position: absolute
}

.login-iframe #groupon-social-modal .fb-connect-existing-account-link .five {
	width: 100%
}

.login-iframe #groupon-social-modal .modal-body {
	box-shadow: none;
	margin: 0;
	padding-top: 0
}

.login-iframe #groupon-social-modal .row {
	margin: 0
}

.login-iframe #groupon-social-modal .section-title {
	margin-top: 0
}

.login-iframe #login-dialog-without-form .five,
.login-iframe #login-dialog-without-form .two {
	width: 100%
}

.login-iframe #login-dialog-without-form .two {
	padding-bottom: 10px
}

.login-iframe #field-remember-me-checkbox {
	font-size: 13px
}

.login-iframe #field-remember-me-checkbox .optional-field {
	display: inherit
}

.login-iframe #field-remember-me-checkbox label {
	margin-bottom: 0
}

.login-iframe .icon-lock:before {
	float: right
}

.login-iframe .field-input {
	height: 23px
}

#iframe-login {
	position: relative
}

.ltr.login-iframe .groupon-login,
.rtl.login-iframe .groupon-login {
	padding: 0
}

.ltr.login-iframe #field-forgot-password,
.rtl.login-iframe #field-forgot-password {
	margin-top: -10px;
	float: none
}

.ltr.login-iframe .row .social-login,
.rtl.login-iframe .row .social-login {
	padding: 0
}

.section-spacer {
	border: 1px solid #ddeacf;
	border-width: 0 0 0 1px;
	bottom: 0;
	position: absolute;
	top: 0
}

.section-spacer span {
	background: #fff;
	color: #666;
	display: block;
	font-style: italic;
	font-weight: 700;
	margin-top: -2em;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 30px
}

.section-spacer.horizontal {
	border-width: 0 0 1px;
	margin: 0 10px;
	position: relative
}

.section-spacer.horizontal span {
	margin-top: -15px
}

.row.new-layout .section-spacer.horizontal {
	width: 350px
}

.row.two-forms .section-spacer.horizontal {
	width: 310px
}

.login-iframe .section-spacer {
	border-width: 1px 0 0;
	bottom: auto;
	margin-bottom: 10px;
	position: relative;
	top: auto
}

.login-iframe .section-spacer span {
	font-size: 12px;
	font-style: normal;
	left: 50%;
	padding: 0;
	top: 14px
}

.prom-night .section-spacer {
	border-color: #ccc
}

.ltr .section-spacer span {
	margin-left: -15px
}

.ltr .section-spacer.horizontal span {
	left: 50%
}

.ltr.login-iframe .section-spacer {
	left: auto
}

.rtl .section-spacer span {
	margin-left: auto;
	margin-right: -15px
}

.rtl .section-spacer.horizontal span {
	right: 50%
}

.rtl.login-iframe .section-spacer {
	right: auto
}

#field-password-toggle,
#field-secondary-password-toggle {
	margin-top: -20px
}

#field-password-toggle label,
#field-secondary-password-toggle label {
	font-weight: 400;
	margin-bottom: 5px;
	padding-top: 6px
}

button.social-button {
	border: none;
	padding: 0;
	width: 100%
}

.social-button button,
.social-button div {
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 600;
	line-height: 19px;
	padding: 10px 0;
	position: relative;
	text-align: center;
	width: 100%
}

.social-button button span,
.social-button div span {
	display: block
}

.social-button button span:before,
.social-button div span:before {
	font-size: 20px
}

.login-iframe .social-remember-me {
	font-weight: 300;
	margin-bottom: 10px
}

.link-switch-form {
	font-size: 12px;
	margin-top: 32px;
	padding: 0;
	text-align: center
}

.row.new-layout .social-login .social-button,
.row.two-forms .social-login .social-button {
	display: inline-block
}

.row.new-layout .social-login .social-button div,
.row.two-forms .social-login .social-button div {
	margin-bottom: 16px
}

.row.new-layout .social-login .social-button span,
.row.two-forms .social-login .social-button span {
	position: relative
}

.row.new-layout .social-login .social-button span:before,
.row.two-forms .social-login .social-button span:before {
	font-size: 25px;
	position: relative
}

.row.new-layout .social-button {
	width: 50%
}

.row.two-forms .social-button {
	width: 100%
}

.ltr .row .social-login {
	padding: 30px 20px 0 40px
}

.ltr .row .social-login .social-button span:before {
	float: left
}

.ltr .row.two-forms .social-login {
	padding: 30px 40px 0 0
}

.ltr .row.two-forms .social-login.push-six {
	padding: 30px 0 0 40px
}

.ltr .row.new-layout .social-login {
	padding: 30px 40px 0 20px
}

.ltr .row.new-layout .social-login,
.ltr .row.two-forms .social-login {
	float: left
}

.ltr .row.new-layout .social-login .social-button,
.ltr .row.new-layout .social-login .social-remember-me,
.ltr .row.two-forms .social-login .social-button,
.ltr .row.two-forms .social-login .social-remember-me {
	float: left
}

.ltr .row.new-layout .social-login div:first-child,
.ltr .row.two-forms .social-login div:first-child {
	padding-left: 0
}

.rtl .row .social-login {
	padding: 30px 40px 0 20px
}

.rtl .row .social-login .social-button span:before {
	float: right
}

.rtl .row.two-forms .social-login {
	padding: 30px 0 0 40px
}

.rtl .row.new-layout .social-login {
	padding: 30px 20px 0 40px
}

.rtl .row.new-layout .social-login,
.rtl .row.two-forms .social-login {
	float: right
}

.rtl .row.new-layout .social-login .social-button,
.rtl .row.new-layout .social-login .social-remember-me,
.rtl .row.two-forms .social-login .social-button,
.rtl .row.two-forms .social-login .social-remember-me {
	float: right
}

.rtl .row.new-layout .social-login div:last-child,
.rtl .row.two-forms .social-login div:last-child {
	padding-right: 0
}

.ltr .row.new-layout .social-login .social-button span,
.ltr .row.two-forms .social-login .social-button span,
.rtl .row.new-layout .social-login .social-button span,
.rtl .row.two-forms .social-login .social-button span {
	padding: 0 3px
}

.ltr .row.new-layout .social-login.twelve,
.ltr .row.two-forms .social-login.twelve,
.rtl .row.new-layout .social-login.twelve,
.rtl .row.two-forms .social-login.twelve {
	padding: 30px 0 0
}

.ltr .row.new-layout .fb-only .social-button,
.ltr .row.new-layout .google-plus-only .social-button,
.rtl .row.new-layout .fb-only .social-button,
.rtl .row.new-layout .google-plus-only .social-button {
	padding: 0;
	width: 100%
}

.ltr .row.new-layout .fb-only .social-button span,
.ltr .row.new-layout .google-plus-only .social-button span,
.rtl .row.new-layout .fb-only .social-button span,
.rtl .row.new-layout .google-plus-only .social-button span {
	left: 0
}

.ltr .row.new-layout .fb-only .social-button span:before,
.ltr .row.new-layout .google-plus-only .social-button span:before,
.rtl .row.new-layout .fb-only .social-button span:before,
.rtl .row.new-layout .google-plus-only .social-button span:before {
	left: 0
}

.facebook-login-button {
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	background: #3b5998;
	margin-bottom: 16px;
	height: 39px
}

.facebook-login-button:focus {
	outline: none
}

.facebook-login-button.new-icon {
	height: 50px
}

.facebook-login-button .facebook-button-text .text-facebook {
	line-height: 50px;
	font-size: 12px;
	padding-left: 40px;
	font-weight: 600
}

.facebook-login-button .custom-icon-facebook {
	width: 50px;
	height: 50px;
	background: url(facebook-FB-f-Logo__white_512-03ae748004.png) no-repeat;
	background-size: 30px 30px;
	background-position: 10px 10px
}

#login .fb-only .link-switch-form {
	margin-top: 100px
}

.login-iframe .facebook-login {
	margin: 20px 0 5px
}

.login-iframe .facebook-login-button {
	margin-bottom: 0
}

.login-iframe #__modal_container__ .modal-body,
.login-iframe #__modal_container__ button {
	max-width: 100%!important
}

.login-iframe #__modal_container__ .form-bordered {
	padding-bottom: 20px
}

.login-iframe #__modal_container__ .form-bordered .ten,
.login-iframe #__modal_container__ .form-bordered .two {
	width: 100%
}

.ltr .row .icon-facebook {
	padding: 0 18px 0 8px
}

.ltr .row.new-layout .facebook-login-button,
.ltr .row.two-forms .facebook-login-button {
	background: linear-gradient(90deg, #324b81 25px, #3b5998 0)
}

.ltr .row.new-layout .facebook-login {
	padding: 0 5px 0 0
}

.ltr .row.new-layout .facebook-login .icon-facebook {
	left: 3px
}

.ltr .row.new-layout .facebook-login .icon-facebook:before {
	left: -3px
}

.rtl .row .icon-facebook {
	padding: 0 8px 0 18px
}

.rtl .row.new-layout .facebook-login-button,
.rtl .row.two-forms .facebook-login-button {
	background: linear-gradient(90deg, #324b81 25px, #3b5998 0)
}

.rtl .row.new-layout .facebook-login {
	padding: 0 0 0 5px
}

.rtl .row.new-layout .facebook-login .icon-facebook {
	right: 3px
}

.rtl .row.new-layout .facebook-login .icon-facebook:before {
	right: -3px
}

.google-signin-button {
	display: -ms-flexbox;
	display: flex;
	background: #4285f4;
	color: #fff;
	height: 50px;
	border-radius: 2px
}

.google-signin-button:focus {
	outline: none
}

.google-signin-button .google-icon-block {
	border: none;
	position: relative;
	width: 50px
}

.google-signin-button .google-icon-block .icon-google-signin {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 46px;
	height: 46px;
	background: url(google-logo_googleg_48dp@3x-8305fa97a6.png) no-repeat;
	background-size: 24px 24px;
	background-position: 10px 12px;
	background-color: #fff
}

.google-signin-button .google-button-text .text-google {
	font-weight: 600;
	line-height: 50px;
	font-size: 12px;
	padding-left: 42px
}

.google-plus-login-button {
	background: #db4a39;
	margin-bottom: 20px
}

.login-iframe .google-plus-login-button {
	margin: 10px 0
}

.login-iframe .google-plus-login .login-only {
	display: block
}

.login-iframe .google-plus-login .signup-only {
	display: none
}

.login-iframe .iframe-signup .google-plus-login .login-only {
	display: none
}

.login-iframe .iframe-signup .google-plus-login .signup-only {
	display: block
}

.ltr .row .icon-google-plus {
	padding: 0 20px 0 10px
}

.ltr .row.new-layout .google-plus-login-button,
.ltr .row.two-forms .google-plus-login-button {
	background: linear-gradient(90deg, #d73928 25px, #db4a39 0)
}

.ltr .row.new-layout .google-plus-login {
	padding: 0 0 0 5px
}

.ltr .row.new-layout .google-plus-login .icon-google-plus {
	left: 1px
}

.rtl .row .icon-google-plus {
	padding: 0 10px 0 20px
}

.rtl .row.new-layout .google-plus-login-button,
.rtl .row.two-forms .google-plus-login-button {
	background: linear-gradient(90deg, #d73928 25px, #db4a39 0)
}

.rtl .row.new-layout .google-plus-login {
	padding: 0 5px 0 0
}

.rtl .row.new-layout .google-plus-login .icon-google-plus {
	right: 1px
}

.module-body {
	min-width: 820px
}

#field-newsletter-checkbox label,
#field-remember-me-checkbox-login-checkout label,
#field-remember-me-checkbox label,
#field-signup-rememberMe-input label,
#field-terms-checkbox label,
.social-remember-me label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.form-v2-1 .gig-field input::-ms-clear,
.form-v2-1 .gig-field input[type=password]::-ms-reveal {
	display: none
}

.form-v2-1 .gig-field.error label .error-message {
	padding-left: 5px
}

.form-v2-1 .field.active input[type=checkbox]+label:before {
	border-color: #ff2552
}

.form-v2-1 #field-forgot-password {
	float: none;
	font-size: 14px;
	margin: 0 0 13px
}

.form-v2-1.resetPassword .gig-field {
	width: 50%
}

.form-v2-1 .inline-error {
	color: #ff2552;
	display: none;
	text-align: left;
	font-size: 1.2rem;
	font-wieght: 600;
	margin-bottom: 5px
}

.form-v2-1 .inline-error.active {
	display: block
}

.form-v2-1 #field-newsletter-checkbox,
.form-v2-1 #field-remember-me-checkbox,
.form-v2-1 #field-terms-checkbox {
	margin-bottom: 0
}

.login .login-section,
.login .signup-section,
.signup .login-section,
.signup .signup-section {
	margin: 50px auto 150px;
	padding: 0 40px
}

.login .login-section .module-body,
.login .signup-section .module-body,
.signup .login-section .module-body,
.signup .signup-section .module-body {
	padding-top: 10px
}

.login #login,
.login #signup,
.signup #login,
.signup #signup {
	margin-bottom: 20px;
	position: relative
}

.pull-one {
	right: 8.333%
}

.push-one {
	left: 8.333%
}

.section-title {
	border-bottom: 1px solid #e6e7e8;
	padding-bottom: 5px
}

.section-title span {
	font-size: .65em
}

.section-title span a {
	padding-left: 2px
}

.section-title.no-border {
	border: none;
	margin-top: 0
}

.signin-btn,
.signup-btn {
	margin-bottom: 0
}

.groupon-login h3,
.groupon-signup h3 {
	margin-bottom: 10px
}

.switch-form {
	font-size: 12px
}

.switch-form .btn-cta {
	font-size: 16px;
	padding-bottom: .4em;
	padding-top: .4em;
	text-align: center;
	width: 75%
}

.ltr .groupon-login,
.ltr .groupon-signup {
	padding: 0 40px 0 20px
}

.ltr .switch-form {
	padding: 0 20px 0 40px
}

.rtl .groupon-login,
.rtl .groupon-signup {
	padding: 0 20px 0 40px
}

.rtl .switch-form {
	padding: 0 40px 0 20px
}

@media only screen and (max-width:1079px) {
	.responsive-funnel .login-section,
	.responsive-funnel .signup-section {
		width: 100%
	}
	.responsive-funnel .login-section+.three,
	.responsive-funnel .signup-section+.three {
		clear: both;
		width: 100%
	}
	.responsive-funnel .groupon-login,
	.responsive-funnel .groupon-signup {
		padding-right: 0
	}
	.responsive-funnel .row .row {
		margin: 0
	}
	.responsive-funnel .row.login .facebook-login {
		padding-left: 0
	}
}


/*# sourceMappingURL=styles-35df8f94a5.css.map */