.tmfc_bg
    {z-index: 1;
	background:url(../img/public_img/tm_bg.png) no-repeat;
    *background:none transparent scroll repeat 0% 0%; 
	*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/public_img/tm_bg.png' sizingMethod='scale' enabled=true); 
	 width:494px ;
	 height:240px; 
}

.tmfc_topwz{ width:456px; height:38px; line-height:27px; font-size:14px; color:#515151; margin-left:26px;}
.tmfc_topwz_l{padding-top:10px; float:left; width:394px;}
.tmfc_topwz .gb_an{ float:right; width:28px; padding-top:13px;}
.xx_line{background:url(../img/public_img/xx_line.gif) repeat-x; width:448px; margin:5px auto;  height:1px; line-height:1px; font-size:0px;}
.tmfc_text{width:448px; margin:0 auto; height:auto; font-size:12px; line-height:26px; text-align:left; margin-top:20px; text-indent:2em;}
.tmfc_word{width:448px; margin:0 auto; height:auto; font-size:12px; line-height:26px; text-align:center; margin-top:20px;}
.annu_auto{width:188px; margin:0 auto; text-align:center; font-size:12px; margin-top:15px;}
.an_red{color:#bd0000;}

/* button */
.red_enter{display:inline-block; background: url(../img/public_img/bg_anniu.gif) no-repeat left -30px; height:22px; padding-left:14px; color:#FFFFFF; cursor:pointer;}
.red_enter span{display:inline-block; background:url(../img/public_img/bg_anniu.gif) no-repeat right -30px; height:22px; padding-right:14px; line-height:22px;}
a.red_enter:hover, a.red_enter:active{text-decoration:none;}

.black_enter{display:inline-block; background: url(../img/public_img/bg_anniu.gif) no-repeat left 0px; height:22px; padding-left:14px; color:#515151; cursor:pointer;}
.black_enter span{display:inline-block; background:url(../img/public_img/bg_anniu.gif) no-repeat right 0px; height:22px; padding-right:14px; line-height:22px;}
a.black_enter:hover, ablack_enter:active{text-decoration:none;}