ul,
li,
img {
	list-style: none;
	border: none;
}

span.eggs_ico {
	background: url(../img/egg.gif) no-repeat center center;
	width: 10px;
}

.vip_top {
	width: 950px;
	height: 324px;
	background: url(../img/vip_top_bg.jpg) no-repeat;
	margin: 0 auto;
}

.vip_top_xxkj {
	width: 250px;
	height: 240px;
	padding: 20px 40px 0px 30px;
	float: right;
	margin: 20px 20px 0 0;
	display: inline;
}

.vip_gr {
	margin-top: 5px;
	height: 30px;
}

.vip_line {
	background: url(../img/yip_line.gif) repeat-x;
	height: 1px;
}

.vip_kt_xx {
	width: 250px;
	height: 202px;
	line-height: 20px;
}

.vip_kt_xxcxg {
	height: 130px;
}

.vip_kt_xxcxg ul li.xxcxg_left {
	float: left;
	width: 100px;
}

.vip_kt_xxcxg ul li.xxcxg_right {
	float: right;
	text-align: left;
	width: 150px;
	margin-top: 15px;
}

.vip_xxtx {
	width: 230px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.vip_xxan {
	margin: 0 auto;
	width: 122px;
}

.vip_xstq {
	width: 950px;
	margin: 0 auto;
}

.vip_xstq_bt {
	height: 48px;
	color: #999999;
	background: url(../img/viptq_bt.png) no-repeat;
	text-align: right;
	line-height: 58px;
	padding-top: 10px;
}

.vip_xstq_bt a {
	color: #999;
}

.vip_xstq_bt a:hover {
	color: #999;
}

.vip_xstq_con {
	background: url(../img/tqxs.png) no-repeat;
	width: 950px;
	height: 395px;
}

.vip_xstq_confen {
	width: 296px;
	padding-left: 20px;
	padding-top: 10px;
}

.vip_xstq_confen ul li.fentb {
	float: left;
	width: 61px;
	height: 61px;
	background: url(../img/tqxs_tb.png) no-repeat;
}

.vip_xstq_confen ul li.fenxx {
	float: right;
	width: 220px;
	color: #999999;
}

.vip_table_bg {
	width: 950px;
	height: 241px;
	background: url(../img/vip_table.png) no-repeat;
}

.vip_kt {
	width: 908px;
	height: 70px;
	border: 1px solid #D7D7D7;
	border-top: 2px solid #D7D7D7;
	padding: 20px 20px 20px 20px;
	margin-bottom: 8px;
}

.vip_kt1 {
	width: 100%;
	height: 26px;
	line-height: 26px;
	margin-bottom: 15px;
}

.vip_kt2 {
	width: 100%;
	height: 26px;
	line-height: 26px;
}

.vip_ktlc_kj {
	height: auto;
	overflow: hidden;
	width: 948px;
	border: 1px solid #c2c0bb;
}

.vip_ktlc_kjleft {
	width: 904px;
	margin: 23px auto;
}

.vip_ktlc_kjleftcon {
	width: 904px;
	height: auto;
	overflow: hidden;
}

.vip_ktlc_kjleftcon>ul {
	width: 904px;
	height: auto;
	overflow: hidden;
	padding: 0px;
}

.vip_ktlc_kjleftcon>ul li {
	float: left;
	width: 158px;
	height: auto;
	margin: 0 11px;
}

.vip_ktlc_kjleftcon>ul li .img {
	width: 158px;
	height: 85px;
	overflow: hidden;
}

.vip_ktlc_kjleftcon>ul li .img a img {
	width: 158px;
	height: 85px;
}

.vip_ktlc_kjleftcon>ul li .text {
	margin-top: 11px;
}

.vip_ktlc_kjleftcon>ul li .text span {
	float: left;
	font-size: 16px;
	color: #333333;
	line-height: 25px;
}

.vip_ktlc_kjleftcon>ul li .text a {
	float: right;
	display: inline-block;
	width: 79px;
	height: 26px;
	background: #df2d2d;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	border-radius: 24px;
	text-decoration: none;
	text-align: center;
}

.viptq_wbzy {
	padding: 10px 20px;
	border-bottom: 1px solid #DCDCDC;
	background-color: #F7F7F7;
	line-height: 24px;
}

.red_enter {
	display: inline-block;
	background: url(../img/bg_anniu.gif) no-repeat left -30px;
	height: 22px;
	padding-left: 14px;
	color: #FFFFFF;
	cursor: pointer;
}

.red_enter span {
	display: inline-block;
	background: url(../img/bg_anniu.gif) no-repeat right -30px;
	height: 22px;
	padding-right: 14px;
	line-height: 22px;
	color: #FFFFFF;
}

a.red_enter:hover,
a.red_enter:active {
	text-decoration: none;
	color: #FFFFFF;
}

.vip_red {
	color: #FF0000;
	font-size: 14px;
	font-weight: bold;
}

.vip_sred {
	color: #CD0000;
	font-size: 12px;
}

.vip_black {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

a.redblack:link {
	color: #515151;
}

a.redblack:visited {
	color: #515151;
}

a.redblack:hover {
	color: #D20000
}

.vip_top_leftmes {
	width: 610px;
	float: left;
	margin-top: 208px;
	height: 80px;
	line-height: 36px;
	font-size: 14px;
	padding-left: 46px;
}

.vip_top_leftmes span.xiaoxi {
	color: #FFF;
	font-weight: bold;
}

.vip_top_leftmes span.xiaoxired {
	color: #d3140e;
	font-weight: bold;
}

.vip_whatis {
	height: 74px;
	line-height: 30px;
	font-size: 14px;
	border: #c2c0bb 1px solid;
	padding: 10px 0 0 10px;
}

a.blue:link {
	color: #005590;
}

a.blue:visited {
	color: #005590;
}

a.blue:hover {
	color: #005590;
}

.vip_yj {
	text-decoration: line-through;
}

.vip_top_20140613 {
	width: 950px;
	height: 310px;
	margin: 0 auto;
}

.vip_topl_20140613 {
	width: 574px;
	height: 310px;
	padding-right: 2px;
	float: left;
}

.vip_topr_20140613 {
	width: 372px;
	height: 310px;
	float: right;
	background-color: #fcefd4;
}

.vip_toprt_20140613 {
	width: 370px;
	border: 1px solid #d6cece;
	border-bottom: 0px;
	height: 134px;
	background: url(../img/cxg_bg1.gif) no-repeat top right;
	font-size: 14px;
}

.vip_toprm_20140613 {
	width: 370px;
	border: 1px solid #d6cece;
	border-bottom: 0px;
	border-top: 0px;
	height: 116px;
	background-color: #FFF;
}

.vip_toprb_20140613 {
	width: 336px;
	height: 31px;
	background-color: #515150;
	color: #ffffff;
	line-height: 16px;
	padding: 18px;
	padding-top: 10px;
	clear: both;
}

.vip_toprb_20140613 ul li.vip_toprbl {
	float: left;
	width: 220px;
	padding-top: 4px;
}

.vip_toprb_20140613 ul li.vip_toprbm {
	width: 340px;
	margin: 0 auto;
	padding-top: 4px;
}

.vip_toprb_20140613 ul li.vip_toprbr {
	float: right;
	width: 100px;
	padding-top: 5px;
}

.vip_toprt1_20140613 {
	width: 200px;
	padding: 18px;
	padding-bottom: 0px;
}

.vip_toprt222_20140613 {
	width: 200px;
	padding-left: 18px;
}

.vip_toprt3_20140613 {
	width: 200px;
	padding-left: 18px;
}

.vip_toprt3_20140613 span {
	color: #c80000;
}

.vip_toprt4_20140613 {
	width: 200px;
	padding-left: 18px;
	margin-top: 20px;
	height: 60px;
}

.vip_toprt2jc {
	font-size: 34px;
	color: #c80000;
}

.vip_toprm1_20140613 {
	padding-left: 18px;
	width: 334px;
	height: 50px;
	border-bottom: 1px solid #e0dfdd;
	line-height: 50px;
	color: #999999;
	padding-right: 18px;
}

.vip_toprm2_20140613 {
	width: 336px;
	margin: 0 auto;
	height: 51px;
	padding-top: 14px;
}

.vip_toprm2_20140613 ul li {
	float: left;
	width: 110px;
	color: #999999;
	border-right: 1px solid #e5e6e8;
	padding-left: 11px;
}

.vip_toprt2_20140613 {
	width: 352px;
	border: 1px solid #d6cece;
	border-bottom: 0px;
	height: 251px;
	background: url(../img/cxg_bg_th.gif) no-repeat top right;
	font-size: 14px;
	padding-left: 18px;
}

.vip_toprt21_20140613 {
	width: 352px;
	height: 83px;
	padding-top: 55px;
}

.vip_toprt22_20140613 {
	width: 338px;
	height: 80px;
	font-size: 14px;
	color: #999999;
	line-height: 24px;
}

.vip_toprt_20161160 {
	width: 370px;
	border: 1px solid #d6cece;
	border-bottom: 0px;
	height: 134px;
	background: url(../img/cxg_bg1.gif) no-repeat top right;
	font-size: 14px;
}

.vip_toprm_20161160 {
	width: 370px;
	border: 1px solid #d6cece;
	border-bottom: 0px;
	border-top: 0px;
	height: 116px;
	background-color: #FFF;
}

.vip_toprb_20161160 {
	width: 336px;
	height: 31px;
	background-color: #515150;
	color: #ffffff;
	line-height: 16px;
	padding: 18px;
	padding-top: 10px;
	clear: both;
}

.vip_toprt1_20161160 {
	width: 260px;
	padding-top: 12px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
	font-size: 12px;
	line-height: 12px;
}

.vip_toprt4_20161160 {
	width: 200px;
	padding-left: 18px;
	margin-top: 20px;
	height: 60px;
}

.vip_toprt1_bt16 {
	width: 220px;
	margin-left: 10px;
	border-bottom: 1px dashed #e7e2d7;
	height: 1px;
	line-height: 0px;
	font-size: 0px;
	margin-top: 8px;
}

.vip_toprt222_20161160 {
	width: 240px;
	padding-left: 10px;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
}

.vip_toprt2jc_20161160 {
	font-size: 34px;
	color: #c80000;
	height: 50px;
	line-height: 50px;
}