body, div, ul, ol, li, form, input, textarea, p
{
	margin: 0;
	padding: 0;
}
body
{
	color: #515151;
	font: 12px/1.5;
}
dl, dt, dd, ul, li, p, h1, img, form
{
	list-style: none;
	border: none;
}
ul
{
	list-style-type: none;
}
img, div, input { behavior: url("css/iepngfix.htc")}

a{ color: #666;text-decoration: none;}

.yqhd_top{ width:950px; height:240px; margin:0 auto;}

.yqhd_text{ width:950px; height:auto; margin:0 auto; overflow: hidden;}
.yqhd_text .yqhd_text_left { width:637px; height:auto; overflow: hidden; float:left; text-align:left; margin-top:15px;}
.yqhd_text .yqhd_text_left .box h1{ float: left; width: 617px; font-weight:bold; font-size:16px; color:#333333; line-height:49px; border-bottom:1px solid #eceaea; padding-left:17px;margin:auto auto 13px auto; height: 49px;}
.yqhd_text .yqhd_text_left .box h1 span{ font-size: 16px; border-left:3px solid #F00; padding-left:12px; color: #333;}
.yqhd_text .yqhd_text_left .lj{ float: left; width:634px; height:144px; border:1px solid #eceaea; background-color:#FFF;}
.yqhd_text .yqhd_text_left .lj p{ width:419px; font-size:14px; color:#666666; line-height:31px; padding-left:17px; display:inline-block; float:left;}
.yqhd_text .yqhd_text_left .lj p a{ color:#226bff; font-size: 14px;}
.yqhd_text .yqhd_text_left .lj input{ outline: none; cursor: pointer; width:180px; height:42px; line-height:42px; background:#df0a0a; font-size:14px; color:#FFF; border-radius:21px; border:0px; text-align:center; margin-top:12px;}

.yqhd_text .yqhd_text_left .jl{  float:left;width:636px; height:468px; background-color:#FFF; margin:15px auto;}
.yqhd_text .yqhd_text_left .jl h1{ margin: 0 auto; font-weight:bold; font-size:16px; color:#333333; line-height:49px; padding-left:17px; border-bottom: 0px;  border-top:1px solid #eceaea; border-right:1px solid #eceaea; border-left:1px solid #eceaea; height: 49px;}
.yqhd_text .yqhd_text_left .jl h1 span{ border-left:3px solid #F00; padding-left:12px; font-size: 16px; color: #333;}
.yqhd_text .yqhd_text_left .jl table{ font-size:14px !important;}
.yqhd_text .yqhd_text_left .jl table tr td{font-size:14px !important;}
.yqhd_text .yqhd_text_left .jl table tr td.pl1 { color: #333333; font-weight: bold; width:340px; text-align:center;}
.yqhd_text .yqhd_text_left .jl table tr td.pl2 { color: #333333; font-weight:bold; width:292px; text-align:center;}
.yqhd_text .yqhd_text_left .jl table tr td.pl11 { padding-left: 78px; color: #333333;}
.yqhd_text .yqhd_text_left .jl table tr td.pl22 { color: #333333; width:296px; text-align:center;}
.yqhd_text .yqhd_text_left .jl table tr td.pl22 span { color: #ff0000; font-weight: bold; font-size: 14px;}
.yqhd_text .yqhd_text_left .jl table tr td span,.yqhd_text .yqhd_text_left .jl table tr td span strong{ font-size: 14px;}

.yqhd_text .yqhd_text_left .gz{  float:left;width:634px; height:auto; overflow: hidden; border:1px solid #eceaea; background-color:#FFF; padding-bottom: 21px;}
.yqhd_text .yqhd_text_left .gz p{ width:607px; font-size:14px; color:#666666; line-height:30px; padding-left:17px; display:inline-block; float:left;}

.yqhd_text .yqhd_text_right{ width:298px; height:auto; overflow: hidden; float:right; margin-top:15px;float: right;}
.yqhd_text .yqhd_text_right .yqsy{ width:296px; height:auto; overflow: hidden; border:1px solid #eceaea; background-color:#FFF;}
.yqhd_text .yqhd_text_right .yqsy h1{ font-weight:bold; color:#333333; line-height:49px; height: 49px; border-bottom:1px solid #eceaea; padding-left:17px; margin:0 auto;}
.yqhd_text .yqhd_text_right .yqsy h1 span{ border-left:3px solid #F00; padding-left:12px; font-size:16px; *float: left;*height: 19px;*line-height: 19px;*margin-top: 15px;}
.yqhd_text .yqhd_text_right .yqsy h1 b{ float:right; font-weight:normal; font-size:12px; padding-right:10px; color:#666666;}
.yqhd_text .yqhd_text_right .yyhy{width: 251px;height: 78px;background: #f9f9f9;padding: 0 23px;}
.yqhd_text .yqhd_text_right .yyhy .wdl{ padding-top:30px; height:42px; text-align:center}
.yqhd_text .yqhd_text_right .yyhy span{ width:103px; height:auto; display:inline-block; text-align:center; margin:10px 10px; font-size:14px; color:#666;*float:left;}
.yqhd_text .yqhd_text_right .yyhy b{ display:block; font-size:16px; color:#df0a0a; line-height:36px;}
.yqhd_text .yqhd_text_right .botton{ width:296px; height:auto; overflow: hidden;}
.yqhd_text .yqhd_text_right .botton ul{width: 253px;height: auto;overflow: hidden;margin: 0 auto; *padding-bottom: 10px;}
.yqhd_text .yqhd_text_right .botton ul li{ float:left; width:106px; line-height:32px; text-align:center; background-color:#df0a0a;  border-radius:7px; margin:12px 10px;}
.yqhd_text .yqhd_text_right .botton ul li a{ color:#FFF; font-size:14px;}

.yqhd_text .yqhd_text_right .tgv3_r_zxtx { padding-bottom: 14px; width:296px; border:1px solid #eceaea; margin:15px auto auto auto; height:auto; overflow: hidden; clear: both; font-size:14px;float: right;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtxbt {  background-color: #FFF; font-weight: bold; font-size: 12px; color: #333333; line-height: 49px; height: 49px; clear: both; width: 280px; padding-left: 16px; border-bottom: 1px solid #eceaea; margin: auto  auto 10px auto;  float: left;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtxbt span{ border-left:3px solid #F00; padding-left:12px; font-size:16px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev { width: 272px; margin: 0 auto; clear: both; height: 34px; line-height: 34px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li { line-height: 30px; float: left;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li.tgv3yhm { width:113px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li span{ color:#ff0000; font-weight:bold;font-size: 14px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li.tgv3jl{ width:80px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li.tgv3sj{ text-align: right; float: right;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li a,.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li span,.yqhd_text .yqhd_text_right .tgv3_r_zxtx_ev ul li{ font-size: 14px;}

.yqhd_text .yqhd_text_right .tgv3_r_zxtx1{ width:296px; border:1px solid #eceaea; margin:15px auto auto auto; height:406px; clear: both; font-size:14px; float: right;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_tgnrb .tgv3_r_tgnrb_l{ margin-bottom: 10px; font-weight:bold; line-height:49px; height: 49px; border-bottom:1px solid #eceaea; padding-left:17px; color:#333333; padding-right:10px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_tgnrb .tgv3_r_tgnrb_l b{ border-left:3px solid #F00; padding-left:12px; font-size:16px;*float: left;*height: 19px;*line-height: 19px;*margin-top: 15px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_tgnrb .tgv3_r_tgnrb_l span{ float:right; font-size:13px; border:1px solid #d5d5d5; text-align:center; line-height:26px; margin-top:11px; width:42px; display:inline-block;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_tgnrb .tgv3_r_tgnrb_l span.yue{ background:#ff0000; color:#FFF; border:1px solid #ff0000;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_tgnrb .tgv3_r_tgnrb_l span.nian{ background:#f9f9f9; color:#666666; border:1px solid #d4d4d4;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_zxtx_ev ul li.tgv3nub1{ line-height: 16px; text-align: center; width:16px; height:16px; background-color:#ff4f57; -webkit-border-radius:50%; color:#FFF; margin-top:6px; margin-right:6px;}
.yqhd_text .yqhd_text_right .tgv3_r_zxtx1 .tgv3_r_zxtx_ev ul li.tgv3nub2{ line-height: 18px; text-align: center; width:18px; height:18px; background-color:#e0e0e0; -webkit-border-radius:50%; color:#7b7b7b; margin-top:6px; margin-right:6px;}

.cjwt{ width:950px; height:auto; margin:15px auto; clear:both; border:1px solid #eceaea; background-color:#FFF;}
.cjwt h1{ font-weight:bold; color:#333333; line-height:49px; border-bottom:1px solid #eceaea; padding-left:17px;  height: 49px; margin: 0 auto;}
.cjwt span{ border-left:3px solid #F00; padding-left:12px;font-size:16px;}
.cjwt .tgv3_index_cjwt { width:950px; height:auto; overflow: hidden; margin: 18px auto;}
.cjwt .tgv3_index_cjwt .tgv3_index_cjwt_ev {float: left; line-height: 28px; padding:0 2%;}
.tgv3_index_cjwt_ev li{ background:url(../images/dot_bg.gif) left center no-repeat; line-height: 35px; padding-left: 10px;}
.tgv3_index_cjwt_ev li a{ font-size: 14px;}


.fc_pd_kj{width:400px; height:auto; z-index:999; position:absolute;}
.fc_pd_top {z-index: 1;background:url(../images/fc_top_bg1.png) no-repeat; height:14px; font-size:0px;  }
.fc_pd_mm{background:url(../images/fc_mm_bg1.png) repeat-y; height:auto;}
.fc_pd_mm_q{width:368px; margin:0 auto;font-size:12px; line-height:32px; }
.fc_pd_mm_qb{background:url(../images/q_tb.png) center center no-repeat; width:22px; float:left;}
.fc_pd_mm_qw{text-align:left; width:346px; }
.fc_pd_bot{background:url(../images/fc_bot_bg1.png) no-repeat; height:25px;}
.fc_pd_bot {z-index: 1;background:url(../images/fc_bot_bg1.png) no-repeat; height:25px; }


